[2015-01-13 23:23] kevinburke opened #1 "Document which scopes are necessary"
Would be nice if the README or the tool told you which scopes you needed to enable for the access token to work.

[2015-01-13 23:24] kevinburke opened #2 "running gitrob with no options presents the somewhat cryptic message "Cannot find Github organization with that name""
[code]

[2015-01-14 00:17] christianbundy commented on #2
I'm assuming it's looking for `​` (empty string).

[2015-01-14 04:02] jfalken opened #4 "Does not run w/ Ruby 2.2.0"
Cannot run with ruby 2.2.0. You get the following error:

[code]

`do_postgres` uses `rb_thread_select` which has been deprecated for a while and was removed from the trunk in v2.2.0. Using 2.1.0 via RVM is a workaround.

see: https://bugs.ruby-lang.org/projects/ruby-trunk/wiki/CAPI_obsolete_definitions and https://github.com/datamapper/do/issues/74

Work around for others:

1. install RVM
2. `rvm

[2015-01-14 04:03] jfalken commented on #1
I was able to get this to work by only allowing `public_repo` and `read:org` permissions to the access token.

[2015-01-14 04:21] imrehg opened #5 "Needed to also install postgresql-server-dev package"
According to the docs, only the `libpq-dev` package is required for development headers. Found that also need a server dev header package too, e.g. `postgresql-server-dev-all`. (otherwise end up with missing `postgres.h` and gitrub config fails)

Using Ubuntu 14.10 x86 version.

[2015-01-14 05:42] d-oliveros commented on #5
I can confirm this. In my case, I had to install `postgresql-server-dev-9.4`.

[2015-01-14 05:43] imrehg commented on #4
Confirm this, using 2.1.4 does work.

[2015-01-14 11:43] michenriksen commented on #5
Thanks for reporting, I'll look into it and update the documentation.

[2015-01-14 11:48] michenriksen commented on #1
That is a good point. If you just want to check what is publicly available, it should be possible to actually uncheck all scopes, so that it just becomes a public access token. The tokens are mostly needed to avoid running into rate limiting.

I'll update the README with your suggestion.

[2015-01-14 11:51] michenriksen commented on #2
Yes, that is probably what is happening. I'll get that fixed up. Thanks for reporting!

[2015-01-14 11:54] michenriksen commented on #4
Thanks for reporting! I guess there's not much to do about this apart from making an exception in the setup documentation that 2.2.0 is not compatible, until DataMapper is updated.

[2015-01-15 14:54] vanhalt commented on #5
I can confirm the issue. Even in kali I had to run
[code]
Kali brings the 9.1 version by default.

[2015-01-15 15:58] michenriksen commented on #5
I tried setting up Gitrob in a totally fresh installation of Kali version 1.0.9a and actually didn't need to install any packages to get it up and running. However, I have modified the readme to mention that it might be necessary to install `postgresql-server-dev-9.1` in Kali.

[2015-01-15 15:58] #5 closed

[2015-01-15 16:14] michenriksen commented on #4
I'm now mentioning in the README that version 2.2.0 is currently not compatible.

[2015-01-15 16:14] #4 closed

[2015-01-15 20:41] phantasm-sd commented on #2
I'm seeing the same thing from 0.0.3 as well:
      _ _           _
  ___|_| |_ ___ ___| |_
 | . | |  _|  _| . | . |
 |_  |_|_| |_| |___|___|
 |___| By @michenriksen

 [*] Starting Gitrob version 0.0.3 at 2015-01-15 12:16 PST
 [*] Loading configuration... done
 [*] Preparing SQL database... done
 [*] Loading file patterns... done
 [!] Cannot find GitHub organization with that name; exiting.

[2015-01-16 05:36] jmcgit opened #9 "Documentation for gitrob on kali"
You might want to make a note for the installation instructions for kali to install ruby-dev. This is not installed by default and thusly the installation on kali fails with a Gem::Installer::ExtensionBuildError: ERROR. To fix, run apt-get install ruby-dev and gitrob installs without error.

[2015-01-16 12:53] maboe opened #12 "Option for targeting repositories instead of organizations"
Could you please add an option for targeting repositories instead of organizations? Sometimes organizations simply don't have an official github account but it might be possible to find other repositories that are related to the organization, for example through google.
Otherwise it's a really nice tool.

Would really love to see this added.

[2015-01-16 14:27] nielsole opened #14 "prettify.js not working when not root"
`Unexpected error while processing request: Permission denied - /var/lib/gems/1.9.1/gems/gitrob-0.0.3/public/javascripts/prettify.js`
And it really is only available to root: `-rw-r-----`

Therefore prettify only works when running gitrob with sudo.
Great tool btw!
I am using Ubuntu 14.04.1 LTS.

[2015-01-16 21:57] karlnp commented on #12
I would also love to see this.

[2015-01-17 12:24] michenriksen commented on #9
Hi @jmcgit, what version of Kali are you installing it on? I recently tried installing Gitrob on Kali version `1.0.9a` and actually didn't have to install any packages.

[2015-01-17 12:27] michenriksen commented on #12
Hi @maboe and @karlnp, I am planning to add an option where it will be possible to give Gitrob a comma-separated list of users to scan, would that be satisfactory?

I also need to think about how this would be presented in the web interface, when users don't belong to an organization. If you have any ideas, please let me know.

[2015-01-17 12:30] michenriksen commented on #14
Hi @nielsole, thanks for reporting. I've changed the permissions on the prettify files to have read access for all. Hopefully that will be reflected next time I push a new version of the gem.

[2015-01-17 14:50] michenriksen commented on #14
I've pushed a new version of Gitrob, which should have fixed this issue. Could you do a `gem update gitrob` and verify that it's fixed?

[2015-01-17 14:51] michenriksen commented on #2
Fixed in the newest version.

[2015-01-17 14:51] #2 closed

[2015-01-17 22:19] nielsole commented on #14
Wow thanks for the fast reply and fix. I will have it checked by Monday.

On Sat, Jan 17, 2015 at 3:50 PM, Michael Henriksen <notifications@github.com

[2015-01-18 22:41] jmuellerAS24 opened #17 "Scanning private repositories too"
Nice tool!
But please allow private repositories to be scanned too.
There might be a case where you would want to make a private repository public and check it in advance.
Also I would like to discover for example AWS credentials even if they are in a private repository.

Thanks!

[2015-01-18 23:55] jonaf commented on #17
This is already supported. Make sure your github access token has support for listing private repos.

[2015-01-19 04:53] jmcgit commented on #9
1.0.6 is the version that I used.

On Sat, Jan 17, 2015 at 6:24 AM, Michael Henriksen <notifications@github.com

--
---------------------------------------
Jason Coleman
jmcsmtp@gmail.com

[2015-01-19 08:07] nielsole commented on #14
Can confirm that after updating, Prettify.js works without root.
After updating I was prompted to accept the license/disclaimer. This seems to also only work when being root :)

    Errno::EACCES: Permission denied - /var/lib/gems/1.9.1/gems/gitrob-0.0.4/lib/../agreement

[2015-01-19 13:59] michenriksen commented on #14
Hmm... making the gem folder world writable sounds a little risky to me, I guess you install Gitrob with `sudo gem install gitrob` and then run Gitrob afterwards without sudo, correct?

[2015-01-19 14:04] michenriksen commented on #9
Okay, that is a bit old. I'll close this issue for now as it seems to be an issue on older versions of Kali.

[2015-01-19 14:04] #9 closed

[2015-01-19 14:06] nielsole commented on #14
That is correct. But I need to run it as sudo first to accept the license (so yeah). Maybe touch the agreement file on install and make it writable so that you do not need to make the entire folder writable.

[2015-01-19 14:10] michenriksen commented on #17
Hi @jmuellerAS24, thanks for reporting. @jonaf is right that Gitrob will scan private repositories if the access token used has the privileges to see them, however there is a slight problem when you afterwards want to see the file contents in the web interface, since the contents are fetched *on-demand* by requesting the raw content URL of a file, and these endpoints don't support authentication w

[2015-01-19 14:10] #17 closed

[2015-01-19 14:14] michenriksen commented on #14
yeah, I'll look into having the file already present. I'll close this issue since it was about prettify.js not working.

Thanks!

[2015-01-19 14:14] #14 closed

[2015-01-19 17:20] jmuellerAS24 opened #18 "Github API pagination not supported"
I wasn't able to see my organization's private repositories. The hints in #17 didn't help me.
But I found out that gitrob doesn't seem to support pagination of the Github API.
All the private repositories show up on page 2 only which is why I could not see them.
So please add pagination support.

[2015-01-19 20:21] karlnp commented on #12
This would definitely work. As I don't have an organization to test with, I have only the screenshots to work against, but perhaps there could be a top-level fork between "Organizations" and "Unaffiliated Users"?

[2015-01-19 20:48] michenriksen commented on #12
@karlnp thanks for the input. I think the way to go will be to introduce a new model to represent a check or and assessment, or what it's going to be called, which can reference an organization or a collection or arbitrary users.

For now, if you need to check a collection of users, you can always create a placeholder organization and join them under there. I think as an owner of the org, you can

[2015-01-20 00:16] michenriksen commented on #18
Oh man, what a stupid bug. I've fixed it in the latest version (0.0.5) - Just do `gem update gitrob` to get it.

Thanks for reporting the issue!

[2015-01-20 00:16] #18 closed

[2015-01-20 10:17] maboe commented on #12
@michenriksen Thanks a lot for addressing this. A comma separated list sounds great. For larger lists of users it might be useful to include them as a file.
I'm not really sure about the presentation within the web interface, as I also haven't been able to test it against an organization.

[2015-01-21 00:50] ghyde commented on #12
I'm not in an organization, but I would like to check all of my repositories (a `-u USERNAME` option). Or if I only wanted to check a specific repository, a `-r NAME/REPO` option would be awesome as well.

[2015-01-21 21:31] ivanlei opened #21 "For ubuntu postgresql-server-dev-all vs. postgresql-server-dev-9.1"
I'm installing on ubuntu server 14.04.1. I found that I needed to `udo apt-get install postgresql-server-dev-all` because `postgresql-server-dev-9.1` is not available.

[2015-01-23 11:06] jdickey commented on #4
DataMapper is *very* unlikely to be updated; those who got tired of the ivory-tower runaround without visible progress, have moved on to get [Ruby Object Mapper](http://rom-rb.org/) (ROM) to production quality. That anybody post-early-2013 would actually use DataMapper 1.*x* is a considerable shock, frankly; it has multiple known issues with multiple database engines. What matters here is that DM

[2015-01-24 01:11] eefahy opened #22 "Consider changing db cleanup stdout text to something less heart-attacky"
Not to be too picky but it gave me a bit of a jolt. Perhaps:
` [*] Deleting existing <orgname> organization from database...`

[2015-01-24 10:26] michenriksen commented on #22
Haha! I see what you mean. I'm actually thinking about removing the automatic deletion of old organization checks completely, as it is really slow at the moment if the org is big.

[2015-01-25 09:13] rajeshkp opened #23 "Change bcrypt-ruby dependency to use bcrypt"
Change bcrypt-ruby dependency to use bcrypt

gem install gitrob
Fetching: methadone-1.8.0.gem (100%)
Successfully installed methadone-1.8.0
Fetching: paint-0.9.0.gem (100%)
Successfully installed paint-0.9.0
Fetching: thread-0.1.4.gem (100%)
Successfully installed thread-0.1.4
Fetching: addressable-2.3.6.gem (100%)
Successfully installed addressable-2.3.6
Fetching: dm-core-1.2.1.gem (100%)
Success

[2015-01-25 10:34] ramschmaerchen commented on #23
I am only a bystander but even for me it is annoying to see people posting issues instead of pull requests. A pull request takes 5 minutes and fixes problems. An issue takes 9 minutes. 4 minutes for you and 5 minutes for the one finally fixing the issue. Especially if the nice author of the application wrote an easy to follow guide of "How to make a pull request":

### How to make a pull request:

[2015-01-25 22:30] eefahy commented on #22
:+1: Sounds good, thanks.

[2015-01-26 13:52] vanhalt commented on #23
[code]

You will notice that `dm-types 1.2.2` requires bcrypt-ruby. Even creating a PR here won't solve that message, please check [dm-types gemspec](https://github.com/datamapper/dm-types/blob/master/dm-types.gemspec#L20).

I think that we can close this issue.

[2015-01-27 12:56] pfigue opened #24 "Warn me when files whith a given hash are found"
I want to be sure that no private key is leaked into any of our repositories.

I don't want to provide Gitrob the private key itself, but only its (e.g. SHA256) hash and let Gitrob check that no file has that hash.

Maybe, I should provide Gitrob also the file size, to check the hash only if the filesize matches. I want to avoid Gitrob computing hashes for each file if it is not necessary (e.g. a

[2015-01-28 11:07] pfigue opened #26 "Find SSH private keys by content, not only by filename"
I have a repository with some private keys: https://github.com/pfigue/gitrob-exciter

The private keys named id_dsa, id_rsa and is_rsa are found without problems, but not those with a different name (e.g. id_rsa2, id_rsa3) are not.

Looking at [patterns.json](https://github.com/michenriksen/gitrob/blob/master/patterns.json) and [sensitive_files.rb](https://github.com/michenriksen/gitrob/blob/maste

[2015-01-28 14:42] #23 closed

[2015-01-28 14:49] michenriksen commented on #26
I want to avoid looking into content as it would slow down the tool way too much. Calling private keys *_rsa2 and *_rsa3 is a bit non-standard, but the pattern could be changed to allow a number and maybe things like `id_rsa.old`, `id_rsa.bkp` and so on.

I'm also considering implementing a feature where people can add their own custom patterns in a file like `~/.gitrobpatterns.json` or something,

[2015-01-28 14:49] #26 closed

[2015-01-29 12:39] pfigue commented on #26
*people can add their own custom patterns in a file like ~/.gitrobpatterns.json*

makes sense. Thanks for your reply.

[2015-02-01 21:33] maxlinc opened #28 "Create a proactive, pre-commit tool?"
Wow, this is a really cool project. Thanks for creating it!

Gitrob appears to be a reactive tool in that it only detects the leak of sensitive data after it has occurred. It could be used to help organizations more quickly detect and fix leaked secrets, but doesn't prevent the data from being leaked in the first place.

It seems like it should be possible to create a tool that uses gitrob's patte

[2015-02-02 11:41] michenriksen commented on #28
Hi @maxlinc,

It does indeed make a lot of sense! Having a pre-commit/pre-push hook to deny sensitive things ending up in a repository would be a very nice security measure. I looked into creating Git hooks a couple of days ago, but kind of lost my eagerness to do it when I saw the example hooks, haha!

Some of the detection patterns might not be suitable for git hooks, like shell configuration fi

[2015-02-04 10:02] desax974 opened #29 "Error"
Hi
When i launch gitrob -o "organization name"
i get an error : SocketError: getaddrinfo : Name or service not know

Anyone can help me please ?

best regards

[2015-02-04 12:11] michenriksen commented on #29
Hmm, looks like you have problems with your DNS. What operating system are you on?

[2015-02-04 12:30] desax974 commented on #29
Ohh Ok sorry for my english i'm come from france .
I'm working on kali linux...

Le 4 févr. 2015 13:11, Michael Henriksen <notifications@github.com> a écrit :
Hmm, looks like you have problems with your DNS. What operating system are you on?

---
Reply to this email directly or view it on GitHub:
https://github.com/michenriksen/gitrob/issues/29#issuecomment-72844457

[2015-02-04 22:38] maxlinc commented on #24
I'm not a gitrob maintainer, but wanted to contribute a couple of comments about:

If you want to make sure that no private key is leaked, then do the hashes matter at all? It seems like a hash would be useful for preventing *specific* keys from being leaked, but not to stop *any* private key from being leaked.

Even if you had a set of hashes for every single private key used by the organization

[2015-02-05 16:39] laminfaty opened #30 "False Positives"
I think this tool is very powerful but i have one question. Is there a way to mark a finding as false positive so that Gitrob will not report it next time it runs?

[2015-02-07 01:50] vanhalt commented on #24
+1 to @maxlinc

[2015-02-07 01:55] vanhalt commented on #30
The answer to your question is no. Gitrob uses a [static pattern file](https://github.com/michenriksen/gitrob/blob/master/patterns.json) to check for sensitive content every time it runs.

Unless we think that we should take this issue as a feature request, we can close it :)

[2015-02-07 18:59] laminfaty commented on #30
Do you have any suggestion about adding this feature? I guess I can try to take a stab at it. My approach is eliminate any finding that is not critical.

[2015-02-08 00:44] vanhalt commented on #30
I think what you mention is on the path reading this issue: https://github.com/michenriksen/gitrob/issues/26

At this point I can't tell if eliminating findings that are not consider critical can address this. Maybe we should wait for more feedback from @michenriksen

[2015-02-09 13:32] laminfaty commented on #30
So I guess we need to wait on @michenriksen to give us feedback.

[2015-02-09 15:08] michenriksen commented on #30
Hi @laminfaty,

Gitrob is currently working in a *stateless* sort of way, which means that it has no knowledge of the findings between each run.

However, I am planning to extend Gitrob so that it is easier to run in a continuous and automated fashion, which would include an ignore/whitelist feature. I don't know when I will get around to implementing this as the first thing is just a general code

[2015-02-09 15:08] #30 closed

[2015-02-10 13:35] michenriksen commented on #29
Does it work if you [change your DNS](https://wiki.debian.org/NetworkConfiguration#The_resolv.conf_configuration_file)  to `8.8.8.8`?

[2015-02-11 15:25] #22 closed

[2015-02-15 14:06] dentarg commented on #4
I think the problem will go away when @dbussink releases a new version of [do_postgres](https://rubygems.org/gems/do_postgres) with the changes from https://github.com/datamapper/do/pull/77.

[2015-02-15 18:37] dbussink commented on #4
I was planning on doing a release this weekend and did that, so with 0.10.15 it should work now.

[2015-03-24 07:29] mikerun opened #31 "gitrob for local repositories / directories ?"
I was thinking may be this project could expand to support local repositories or local code directories ?

[2015-03-24 09:31] michal1elbaz opened #32 "[*] Collecting organization repositories... failed"
Hi,
 I'm trying to start gitrob when I get to the configuration wizard it stops when I get the message above and after it:  [!] Gitrob::Github::HttpClient::ClientError: get to /orgs/nfigure/repos?page=1 returned status 404 - options: {:query=>nil}
postgres@kali:/root/gitrob/trunk$ gitrob -h

I can't seem to understand the problem.
Can somebody explain?

[2015-03-24 09:58] michenriksen commented on #32
Hi @michal1elbaz,

The reason why you get the error message is because there is no organization on GitHub named [nfigure](https://github.com/nfigure) - However it looks like part of the word co**nfigure**, so it might be a problem with how you envoke the configuration wizard.

What happens if you do `gitrob --configure`?

[2015-03-24 10:01] michenriksen commented on #31
Hi @ahmedmg, thanks for your feedback. For now there are no plans to make it work on local repositories, however there is a similar project called [blueflower](https://github.com/veorq/blueflower) which might be of interest to you. It can search a local file system for interesting files and is looking for many of the same things as Gitrob.

Hope that helps!

[2015-03-24 10:05] michal1elbaz commented on #32
Thank you for responding
It worked

*Sorry... it's all new to me

[2015-03-24 10:35] michenriksen commented on #32
No worries, glad you're up and running. :)

[2015-03-24 10:35] #32 closed

[2015-03-24 12:30] #29 closed

[2015-03-24 19:29] ahmedmg commented on #31
Thanks! didn't know about blueflower it's exactly what I'm looking for if you have any more suggestion it would be great

[2015-03-25 14:14] michal1elbaz opened #33 "sinatra is stuck"
after inserting the command
gitob -o ORGANIZATION-NAME

I am asked to insert configuration details (at the configuration wizard)
and that what happens after:

 [*] Saving configuration to file... done
 [*] Loading configuration... done
 [*] Preparing SQL database... done
 [*] Loading file patterns... done
 [*] Collecting organization repositories... done
 [*] Collecting organization members... don

[2015-03-25 14:23] #33 closed

[2015-03-30 06:08] davitb opened #34 "Enterprise github"
Is it possible to run gitrob on enterprise github setup?

[2015-03-31 08:52] michenriksen commented on #34
Not in its current version, but if the Enterprise API follows the same interface as the official API, it should be pretty straight forward to add an option to specify a different host than `api.github.com`.

I will look into adding this feature. :)

Thanks for your feedback!

[2015-04-03 19:36] cdorros commented on #34
Test and see what you think: https://github.com/michenriksen/gitrob/pull/35
I've been running this internally at my org for about a week on GitHub enterprise :)

[2015-04-20 13:49] tinsjourney commented on #34
You can do that with a quick workaround, on your host running gitrob, just set the address of your enterprise github as an entry for api.github.com

[2015-08-06 15:46] pvoznenko opened #37 "Gitrob not running on Mac OS X"
Hi @michenriksen ,

Thank you for your tool!

I can run it on CentOS, but could not manage to make it work on my Mac `10.10.4` with ruby `2.2.2` version and postgres `9.4.4`, keep getting suck error on start:

[code]

Maybe you know whats going on?

Thanks!

[2015-08-24 08:17] chuhades commented on #37
i have the same problem, did you solve it?

[2015-08-24 10:45] pvoznenko commented on #37
@chuhades unfortunately not, instead used docker container `rgbkrk/gitrob` with own `.gitrobrc` file.

`Dockerfile` looks like:

[code]

[2015-08-25 05:49] chuhades commented on #37
thanks very much. i'll have a try.

On August 24, 2015 at 6:45:48 PM, Pavlo Voznenko (notifications@github.com) wrote:

@chuhades unfortunately not, instead used docker container rgbkrk/gitrob with own .gitrobrc file.

Dockerfile looks like:

FROM rgbkrk/gitrob:latest
ADD .gitrobrc /root/
CMD yes | gitrob -s -b 0.0.0.0 -p 9393

—
Reply to this email directly or view it on GitHub.

[2015-08-27 00:36] ghost opened #38 "Ruby exception when processing binaries, UTF-16 content"
Environment:  Kali 1.1.0 Linux, Gitrob v0.0.6, Ruby 1.9.1
Issue:  File inspection should check file magic before launching.
        .PNG file is probably not a good choice to show with a text editor.
        Windows resource files are UTF-16 format.
        Both cause sinatra to throw an exception  [see below].

ArgumentError - invalid byte sequence in UTF-8:
    /usr/lib/ruby/vendor_ruby/rack/uti

[2015-08-27 00:44] ghost opened #39 "add reason/caption/short description to display of findings"
Environment:  Kali 1.1.0 Linux, Gitrob v0.0.6, Ruby 1.9.1
Priority: Low
Feature request:  When browsing the findings, it would be nice to know the reason why the file was marked as a finding without requiring the file to be opened.  The gitrob_findings.caption database field would be perfect to show.

This really would be rolled up into a feature request "let user change columns to display".

[2015-09-01 10:48] sjparkinson opened #40 "Include a Vagrantfile"
I was thinking of writing a vagrantfile for this project.

Would such a contribution be worth a PR? If so I'll get something together.

[2015-09-02 19:34] mikeatlas opened #41 "Process `.gitrobrc` with ERB first"
I have dynamic parameters from using a separate postgres db in another docker-composed container, for example:

[code]

The code change needed would be from http://stackoverflow.com/a/25862188/101827

[code]

located: https://github.com/michenriksen/gitrob/blob/master/lib/gitrob.rb#L98-L100

I can make a PR for this but in the meantime I'll just run a wrapper script to pre-process my `.rcfile` bef

[2015-09-03 00:17] mikeatlas commented on #1
+1

[2015-09-03 00:18] mikeatlas opened #43 "Enhancement contribution (not a PR) - Dockerized container version."
I built a dockerized version of your tool for those looking to run it without installing postgres, ruby, rails, etc.

https://github.com/weftio/weft-gitrob

[2015-09-28 13:06] stefancocora commented on #40
:+1:
A `Vagrantfile` will make trying this tool a lot more streamlined !

[2015-09-28 13:47] sjparkinson commented on #40
Potentially superseded by #43. The hard works been done there, perhaps this should be closed and some of @mikeatlas work be opened as a PR.

[2015-09-29 20:57] mo opened #44 "always chmod ~/.gitrobrc so that "other" cannot read it (regardless of system umask)"

[2015-10-01 03:04] jandre commented on #28
Hey all, I wrote a quick and dirty pre-commit hook that does exactly that.

https://github.com/jandre/safe-commit-hook

[2015-10-03 03:02] joecrotty commented on #41
:+1:

Yes, ideal solution for folks like us using Docker.

[2015-10-07 05:02] mikeatlas commented on #28
+1 for @jandre's tool. Pre-receive hooks via an oauth service in my mind is the most ideal way to handle it: presume accidental fat-fingered pushes from machines lacking local `safe-commit-hook` installed

Only a few more steps further with https://github.com/rvagg/github-webhook-handler and a service could
be scraped together!

[2015-10-20 15:31] heretogo opened #46 "Search a list of users"
It would be useful to add known personal accounts of company employees to the search scope whose accounts are not necessary part of a github organization.

[2015-10-24 21:44] BillWeiss commented on #1
:+1: , for what it's worth.

[2015-10-27 15:52] maxvt commented on #1
public_repo was enough for me

[2015-11-30 13:07] biddster commented on #37
Working fine on ElCap for me:

postgres = 9.4.5 (via homebrew)
ruby = 2.2.3p173 (via homebrew)
gitrob = 0.0.6

[2016-01-15 15:21] macubergeek opened #47 "Delete previous scans from database"
Trying to figure out how to delete previous scans/organizations from gitrob database.

[2016-01-20 08:34] nigifabio opened #48 "request: report on pdf/doc"
ehi,
i start to use gitrob and is really useful and fast to setup, i miss only the option to generate a report what do you think about?

[2016-01-20 11:38] chackoabraham opened #49 "Collecting Organization repositories ..... failed"
Hi All

When i am running gitrob on my local machine(Kali) at the point where i configure gitrob after pasting the access token, I am getting the following error.

[*] Collecting organization repositories ... failed
[!]Gitrob::Github::HttpClient::ClientError: get to /orgs/nfigure/repos?page=1 returned status 404 -options: {:query=>nil}

Please help me on what has to be done on this.

[2016-01-20 11:45] chackoabraham commented on #49
Sorry abt that.. i figured my way out..

[2016-01-20 11:45] #49 closed

[2016-02-08 13:32] biddster opened #50 "Ability to specify the git branch"
It seems to me that GitRob is inspecting the master branches. We use GitFlow so I'd really like to be able to able to interrogate the development branch every time someone pushes to it.

[2016-02-08 13:35] biddster commented on #47
You can do it via gitrob --delete <org>

[code]

[2016-02-08 14:05] biddster commented on #50
It would be pretty cool, I think, if this was one of the command line switches.

[2016-02-08 14:34] biddster commented on #12
+1 for this too.

[2016-03-10 17:14] mr-future opened #51 "scan standalone git repositories"
Hi,

Is it possible to use gitrob to scan a single Git repository that is not in GitHub?

Thanks,
Brandt

[2016-03-12 14:49] michenriksen commented on #47
Hi @macubergeek, A new version of Gitrob is out with the ability to delete assessments from the web interface. [Read more here](http://michenriksen.com/blog/new-version-of-gitrob-is-out/).

[2016-03-12 14:49] #47 closed

[2016-03-12 14:50] michenriksen commented on #46
Hi @heretogo, a new version of Gitrob is out which allows you to scan an arbitrary amount of organizations and users. [Read more here](http://michenriksen.com/blog/new-version-of-gitrob-is-out/).

[2016-03-12 14:50] #46 closed

[2016-03-12 14:51] michenriksen commented on #39
Hi @ghost, The latest release of Gitrob will now tell you why a file was flagged when hovering. [Read more here](http://michenriksen.com/blog/new-version-of-gitrob-is-out/).

[2016-03-12 14:51] #39 closed

[2016-03-12 14:53] michenriksen commented on #34
A new version of Gitrob is out which supports scanning of custom GitHub Enterprise installations. Unfortunately, I don't have access to a GitHub Enterprise, so I would appreciate if someone could test it out and report any bugs. [Read more here](http://michenriksen.com/blog/new-version-of-gitrob-is-out/).

[2016-03-12 14:53] #34 closed

[2016-03-12 14:53] michenriksen commented on #1
This is now documented in the README.

[2016-03-12 14:53] #1 closed

[2016-03-12 14:54] #37 closed

[2016-03-12 14:55] michenriksen commented on #50
Hi @biddster, The new version of Gitrob picks the branch that was set as the primary branch for a repository. [Read more here](http://michenriksen.com/blog/new-version-of-gitrob-is-out/).

[2016-03-12 14:55] #50 closed

[2016-03-12 14:55] #31 closed

[2016-03-12 14:55] #24 closed

[2016-03-12 14:57] michenriksen commented on #51
Hi @mr-future, The new version of Gitrob allows you to scan a single user. I guess this could work for now. I might look into single repository analysis in a later release. [Read more](http://michenriksen.com/blog/new-version-of-gitrob-is-out/) about the new release here.

[2016-03-12 14:57] #51 closed

[2016-03-12 14:58] michenriksen commented on #12
The new version of Gitrob now supports scanning of one or more users. [Read more here](http://michenriksen.com/blog/new-version-of-gitrob-is-out/).

[2016-03-12 14:58] #12 closed

[2016-03-12 15:00] michenriksen commented on #48
Hi @nigifabio, that would be a cool addition to Gitrob for sure. Until it has such a feature you can pull out results directly from the database with some simple SQL queries, which might work for you. But I will look into reporting in a later release.

[2016-03-12 15:00] #44 closed

[2016-03-12 15:46] mr-future commented on #51
Hi Michael,

First, very exciting about the new release! About my request – I wasn’t clear about what I actually meant. My company uses GitBucket. I am wondering if it is possible to scan any git repository (Github or not) by cloning it with ssh, then scanning it. Or manually cloning a repository and then pointing gitrob at it. Please let me know if it is possible to do this.

Thanks,
Brandt

From

[2016-03-15 15:40] tinsjourney opened #52 "Failed to access Github Enterprise with last version."
Hi,

As we have a Github Enterprise instance where I work, I gave a try on the new version.
But doesn't seem to work.

Here's the ouput of my analyze command.

[code]

[2016-03-17 01:47] jstoneky commented on #52
Move your access token into the gitrobrc file as a work around

[2016-03-17 01:52] jstoneky opened #53 "Private Org repositories don't seem to be found"
<img width="720" alt="screen shot 2016-03-16 at 8 52 15 pm" src="https://cloud.githubusercontent.com/assets/2001280/13833958/03483624-ebb9-11e5-95ef-bdf472ba457e.png">

[2016-03-17 11:13] tinsjourney commented on #52
thanks @jstoneky I confim I don't have the same issue now.`
Now It's telling me that even with the '--no-verify-ssl' option it failed verifying the certificate.

[code]

[2016-03-18 09:38] michenriksen commented on #52
Hi @tinsjourney, thanks for reporting. The problem with access token from the command-line option is a pretty easy fix that I will look into over the weekend. The SSL problem might be a bug in the `github_api` Gem, but I will look into that as well!

[2016-03-18 09:39] michenriksen commented on #53
Hi @jstoneky, thanks for reporting. I'm using the `github_api` Gem to talk to the API, don't know why it wouldn't return private repo's if you have access to them. I will see if I can do something differently.

[2016-03-19 08:28] michenriksen commented on #52
Hi @tinsjourney, I have fixed both the issue with not being able to set access tokens through the `--access-tokens` command option and the problem with `--verify-ssl` command option. The fixes are currently only in the `master` branch and hasn't been released yet before the fixes are confirmed to work.

Would you mind trying out the latest code in `master` by doing the following:

    $ git clone

[2016-03-19 13:28] michenriksen commented on #53
I have pushed a fix to this problem. It will be part of the next release.

[2016-03-19 21:01] jstoneky commented on #53
Awesome, thanks. Is it in master?

[2016-03-20 07:17] michenriksen commented on #53
It is. If you want it now, you can install it in your system with `rake install`.

[2016-03-21 16:29] tinsjourney commented on #52
Hi @michenriksen !

I confirm the fix for the --access-tokens, but the --no-verify-ssl still doesn't work. I have the same error message as before (ie : [!] Faraday::SSLError: SSL_connect returned=1 errno=0 state=unknown state: certificate verify failed)
I'm not used to ruby, so I don't know how to add more verbosity in the script to give you more logs.
So feel free to tell me what I can do to giv

[2016-03-21 16:54] michenriksen commented on #52
Sorry, I'm an idiot. I pushed a fix to my fix now. Could you try again after doing a `git pull`?

Thanks again!

[2016-03-21 17:41] tinsjourney commented on #52
I confirm I don't have the ssl issue anymore. :+1:  Thanks.

But now it says "it can't find my user or organizations"
Is there anyway to increase the verbosity to get more informations where it fails, I don't have many information with --debug

[2016-03-22 08:15] michenriksen commented on #52
Right now, there is unfortunately only the `--debug` option. I will look into a way to make the `github_api` gem output the API endpoints it requests.

Have you tried running the analyze command with a list of usernames?

[2016-03-22 14:36] jstoneky commented on #53
confirmed it working for private repos. Thanks

[2016-03-23 13:12] tinsjourney commented on #52
I tried with Organization Name, usernames, and list of usernames separated with comma.
But it doesn't find anything

[2016-03-24 14:07] feradi opened #54 "request: scanning file content for secrets"
Hi @michenriksen,

thank you for the great work in the first place!
I'd be very interested to know if you are planning to scan the content of files also

[2016-03-24 15:12] michenriksen commented on #54
Hi @feradi, thanks for the kind words.

For now I am not planning on making Gitrob scan file contents as I think it would take an impractical amount of time and require a lot of API requests.

If you would like to search for sensitive file content, you can clone repositories of interest and scan the directories with another awesome tool called [blueflower](https://github.com/veorq/blueflower).

Ho

[2016-03-24 15:13] #54 closed

[2016-03-24 15:34] michenriksen commented on #52
Hi @tinsjourney, I've done some research and found out that request logging can be done easily because the `github_api` gem uses [faraday](https://github.com/lostisland/faraday) for HTTP communication.

If you run the command:

    $ DEBUG=true bundle exec gitrob analyze MyOrganization --site=https://github.terprise.local  --endpoint=https://githubenterprise.local/api/v3 --no-verify-ssl

You shoul

[2016-03-24 15:46] michenriksen commented on #53
Fixed in version [1.0.1](https://github.com/michenriksen/gitrob/blob/master/CHANGELOG.md#101)

[2016-03-24 15:46] #53 closed

[2016-03-29 02:16] danielmiessler opened #56 "Inclusion of Signatures in SecLists"
Hey there, was wondering if it'd be ok for me to include your signatures file (probably not in the same format) in the SecLists project.

I'm collecting all the different checks of this type into one place so arbitrary engines can query for all of these types of things.

https://github.com/danielmiessler/SecLists/

Thanks!

[2016-03-29 07:57] michenriksen commented on #56
Sure, no problem! Thanks for SecLists, btw. It's awesome.

[2016-03-29 07:57] #56 closed

[2016-03-29 11:51] tinsjourney commented on #52
Hello @michenriksen ,

I don't know what I did last time, but now it's working. with both CLI or webserver. Maybe some module used by gitrob have been updated since.

I confirm everything is working now. We can close this issue

Thanks for your help and time, and fell free next time to contact me when you need to do more test on GitHub Enterprise.

[2016-03-29 13:54] michenriksen commented on #52
I'm glad to hear that it's working for you! I'll close the ticket. I'll ping you if I need to test anything GitHub Enterprise.

[2016-03-29 13:54] #52 closed

[2016-03-29 23:26] danielmiessler opened #57 "Signatures.json"
Hi Michael,

Wondering if I can use your signatures.json file for a couple of other projects. It'll be added to a collection of other similar signatures, plus others for finding coding flaws.

The projects will be SecLists and another that's yet to be named.

Let me know and I'll add you to the credits!

Thanks,

Daniel

[2016-03-30 09:56] michenriksen commented on #57
Hi @danielmiessler, That is all fine by me. Gitrob is released under the MIT license so go ahead and use whatever you want! A credit is of course very appreciated.

Would you mind pinging me when your secret project is done? It sounds interesting and I would like to merge any signature additions into Gitrob if that is OK with you?

Cheers,
Michael

[2016-04-01 16:11] Skeyelab opened #58 ".env files?"
We use .env files.  Can gitrob be setup to flag these files?

[2016-04-02 10:21] michenriksen commented on #58
Hi @Skeyelab, that is definitely possible! I was actually surprised I didn't have a signature for this yet, I was sure Gitrob already looked for these files.

I will add in this signature, thanks for letting me know!

[2016-04-03 20:35] Skeyelab commented on #58
Thanks.  Another nice option would be able to define our own signatures somehow.

[2016-04-04 02:51] danielmiessler commented on #57
Absolutely!

[2016-04-04 02:51] #57 closed

[2016-04-04 08:35] michenriksen commented on #58
Yes, a couple of people have been asking for this feature. It makes sense if you have file signatures that are very specific for your organisation. But I hope people will still create Pull Requests to Gitrob if they have signatures that would benefit everyone.

I'll look into adding this feature.

[2016-04-10 09:34] michenriksen commented on #58
Hi @Skeyelab, I have just released version 1.1.0 which includes a signature for `.env` files as well as the ability to define custom signatures.

To get the latest version, simply run `gem update gitrob` in a terminal and read [this section](https://github.com/michenriksen/gitrob#adding-custom-signatures) of the README on how to add custom signatures.

Enjoy and let me know if you find any issues

[2016-04-10 09:34] #58 closed

[2016-04-11 16:21] Skeyelab opened #60 "flag file as "OK""
What about a way to flag files as "OK"?  Say I scan a repo today, and a file has the word "password" is it.  In my case, this is a template file and is required to be called this.  I'd love to be able to filter out false positives.

[2016-04-11 18:30] jimnelson2 commented on #60
We've been gradually introducing gitrob into our GitHub Enterprise environment, and false-positive elimination is one of the reasons we're moving slowly. So far, we've POC'd two mechanisms for this: one, marking the "path" of the file as ok; two, calculating a hash of the file content and considering any file having that hash ok regardless of name/location. Pluses/minuses to both alternatives.

[2016-04-11 19:12] michenriksen commented on #60
Thanks for your feedback and suggestions!

This feature would be pretty straight-forward to add. One way would be to make "fingerprints" of the files with something like `SHA1(owner username + repo name + file git SHA)` and store this hash in a table when the file is marked as clean. If the file marked as clean is changed, its git SHA would change and the fingerprint would no longer match, and it

[2016-04-11 19:13] Skeyelab commented on #60
hmm, I think i'd still want it to appear some how.

[2016-04-14 12:53] michenriksen commented on #60
Do you have any preference, @jimnelson2?

[2016-04-14 13:26] michenriksen commented on #57
Hey, I was wondering when I can expect to see the credit? SecLists is a pretty popular and awesome resource, and I think it could drive some attention to Gitrob which would be cool. :)

[2016-04-14 17:34] hgautam commented on #34
We are using gitrob version 1.1.0 and running it against our GitHub Enterprise installation and it does not come with any findings :-( I can provide more info if needed. Any help is appreciated.

[2016-04-15 08:18] michenriksen commented on #34
Hey @hgautam, It could be that you are simply lucky to not have any files in your repo's that are flagged by Gitrob. :) I would suggest having a look at the [signatures.json](https://github.com/michenriksen/gitrob/blob/master/signatures.json) file and see if anything should have been flagged.

[2016-04-15 13:54] jimnelson2 commented on #60
I'm with @Skeyelab - I'd like to see the flagged-ok files be discoverable via the UI.

[2016-04-15 20:16] crimsonknave opened #61 "No files/findings for github enterprise."
When I use gitrob against github.com things seem to work fine, however, when I point it at my enterprise github it does not list any files or findings.

I'm calling it like so:
```gitrob analyze jhenrich --site=https://github.acme.com --endpoint=https://github.acme.com/api/v3```

I do not see any errors in the output, all the repositories are found, but there is nothing in the repos.

I'm using v1

[2016-04-15 21:53] hgautam commented on #34
Hi Mike,Thanks for responding. I know for the fact that we have violations present in the files. I even added a mock file full of violations and it still was not flagged. I am looking at some place most likely a log file that tell me what gitrob exactly did. What api calls were made and were the all successful? That kind of stuff. How do I get this info?
Thanks,HimanshuDate: Fri, 15 Apr 2016 01:18

[2016-04-16 03:35] binarymist opened #62 "gem install gitrob. Failed to build gem native extension."
Is this a known issue?
This was my install process on kali 2016.1. Did I miss something? Thanks:

1. `git clone https://github.com/michenriksen/gitrob.git`
2. `gem install bundler`
3. `service postgresql start`
4. `su postgres`
5. `createuser -s  gitrob  --pwprompt`
6. `createdb -O gitrob gitrob`
7. `exit`
8. `cd /opt/gitrob/bin`
9. `gem install gitrob`

Output:

# gem install gitrob
Fetching: thr

[2016-04-16 07:36] michenriksen commented on #62
Hi @binarymist,

It looks like you might need to do a quick `apt-get install libpq-dev` and try again.

Which version of Kali are you installing it on?

[2016-04-16 07:40] michenriksen commented on #61
Hi @crimsonknave, debugging problems with GitHub Enterprise installations is unfortunately a little difficult for me as I don't have access to an installation.

If you run Gitrob like this:

    DEBUG=1 gitrob analyze jhenrich --site=https://github.acme.com --endpoint=https://github.acme.com/api/v3

You should see details of the HTTP request and responses from the github_api gem. Do you see any `4

[2016-04-16 07:43] michenriksen commented on #61
/cc @hgautam (reported the same issue in an old Issue)

[2016-04-16 23:37] binarymist commented on #62
2016.1 rolling

[2016-04-17 00:28] #62 closed

[2016-04-17 00:38] binarymist opened #63 "gitrob configure failing with bad URI"
Hi.

`gitrob configure`

 ___|_| |_ ___ ___| |_
| . | |  _|  _| . | . |
|_  |_|_| |_| |___|___|
|___| By @michenriksen

[*] Starting Gitrob version 1.1.0 at 2016-04-17 12:21 NZST
[*] Starting Gitrob configuration wizard
Enter PostgreSQL hostname: |localhost|
Enter PostgreSQL port: |5432|
Enter PostgreSQL username: |gitrob|
Enter PostgreSQL password (masked): xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Enter Po

[2016-04-17 08:15] michenriksen commented on #63
I guess the problem is because the postgresql password contains an `@` sign, which causes the connection URI (`postgres://<username>:<password>@<host>:<port>/<database>`) to be invalid.

I'll look into a way to escape `@` signs when constructing the connection URI. In the meantime, you can fix it by removing it from the password.

[2016-04-17 09:08] binarymist commented on #63
That's it. Didn't recognise the password due to being in a password database which allows me to never have to look at them.

[2016-04-17 09:08] #63 closed

[2016-04-17 16:09] michenriksen commented on #61
I have asked GitHub Enterprise Support if it's possible for me to get a trial installation so I can verify that everything works against GitHub Enterprise. Let's see what they say.

I would of course still appreciate any comments from you folks if you figure out what the problem might be or if you have any interesting output from Gitrob.

Thanks!

[2016-04-17 16:18] hgautam commented on #61
Thanks Mike. I just see bunch of sql commands in std out. Are there any details logs anywhere that can tell me more?I would be happy to debug this more. Any pointers appreciated.
Thanks,HimanshuDate: Sun, 17 Apr 2016 09:09:47 -0700
From: notifications@github.com
To: gitrob@noreply.github.com
CC: hgautam@Hotmail.com
Subject: Re: [michenriksen/gitrob] No files/findings for github enterprise. (#61)

[2016-04-18 10:11] michenriksen commented on #61
@hgautam could try to run Gitrob with `DEBUG=1 gitrob analyze ...`? Then you should see request/response information from the github_api gem. It would be interesting to see the response could when Gitrob fetches repository contents.

Thanks!

[2016-04-18 15:14] crimsonknave commented on #61
I only see three statuses printed in the debug. It looks like /user?access_token, /user/repos and a second page of repos. After that I see it printing the connection options and an info about a call to each repo, but never the payload or response code.

When I run against public github I see the status printed out for each repo.

I know that our version of github enterprise is a bit old, but I can

[2016-04-18 17:30] hgautam commented on #61
Hi Joseph,We upgraded to GH enterprise 2.5.4 over the weekend. Ran gitrob analyze with debug option on the newer version and I dont see response code or payload either.
Please let me know if you guys want me to run any other test commands or capture any logs etc.
Appreciate your help.
-HimanshuDate: Mon, 18 Apr 2016 08:14:15 -0700
From: notifications@github.com
To: gitrob@noreply.github.com
CC: hg

[2016-04-20 02:21] osok commented on #61
I'm having a similar problem.  I noticed that the gathering targets does a GET on /users/xxx

meaning the url should be
https://github.mycompany.com/users/xxx

however the actual URL is
https://github.mycompany.com/xxx

So I get an error:

Gathering targets...EXECUTED: get - /users/xxx with PARAMS: {} failed
[!] Faraday::TimeoutError: Connection timed out - connect(2)
[!] No users or organizations

[2016-04-20 02:23] osok commented on #61
I should add that I'm running UBUNTU
Linux ip-10-206-4-240 3.13.0-83-generic #127-Ubuntu SMP Fri Mar 11 00:25:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

and I built the the server and the GitRob app today.

[2016-04-20 17:57] osok commented on #61
I had to list a valid endpoint on the commandline and then it took off running.

[2016-04-20 18:26] crimsonknave commented on #61
So, @michenriksen, I figured it out! It all works if I add a / after v3.

[code]

It would be nice if there'd been some sort of error in the output. Even with debug enabled I don't see anything indicating that it got a 404 back from github.

[2016-04-20 20:01] osok opened #64 "Repos found but no files identified"
I have installed gitrob on ubuntu.  I have started assessments from the command line and from the web app.  They find the users and the repos, but never any files.  I'm hitting an Enterprise edition github hosted privately.

[2016-04-20 20:01] #64 closed

[2016-04-20 20:10] osok commented on #61
I have it running too against an enterprise github server.  I ran it with the

`DEBUG=1 gitrob analyze.....`

and I think I found the problem.....

after the   .../api/v3 there should be a forward slash before repos when it is looking at the repo.  its missing.  I copied the URL out and tried it in a browser and got essentially a 404.  then I inserted the / and got a lot more data back.  Looks lik

[2016-04-20 20:35] michenriksen commented on #61
@crimsonknave, @osok: Wow, thanks a ton for your help and figuring out the problem. This is awesome! I'm happy that you got it working for you.

It sounds like a pretty easy fix. I will look into implementing it as soon as I have some time.

I haven't heard back from GitHub yet regarding getting access to a GitHub Enterprise installation, but hopefully I will get access to one soon, so I can help

[2016-04-20 20:40] #61 closed

[2016-04-21 00:25] osok opened #66 "Request : Add custom signatures"
I see the JSON file of signatures.  Would be nice if there was a way to add custom signatures.

Use same JSON format, configure by command line switch

--signatures=custom-sigs.json

[2016-04-21 00:33] crimsonknave commented on #66
You can add custom signatures with a file in your home directory.

https://github.com/michenriksen/gitrob#adding-custom-signatures

[2016-04-21 01:05] #66 closed

[2016-04-21 01:12] osok opened #67 "Parse file contents"
Am I reading the instructions wrong, or are signatures on matching file name patterns.  Is there a reason the pattern matching of the content of files was not implemented?

[2016-04-21 01:17] hgautam commented on #61
That did it for me to. Just added a / after api/v3/ and i see flagged material now.
Thanks for all your help. However, I didn't see see any error in the debug output indicating this might be the problem. How did you even figure this out?
Thanks,HimanshuDate: Wed, 20 Apr 2016 13:10:36 -0700
From: notifications@github.com
To: gitrob@noreply.github.com
CC: hgautam@Hotmail.com; mention@noreply.github.

[2016-04-21 01:18] crimsonknave commented on #67
It's by design you can see more here: https://github.com/michenriksen/gitrob/issues/54

[2016-04-21 01:23] osok commented on #67
Let me second the comments made in that post, thank you for all the great work.

[2016-04-21 01:23] #67 closed

[2016-05-08 17:31] Choms commented on #23
Hi,
I guess, as I see it fixed on the code, you realized you had to change bcrypt-ruby for bcrypt. Would you mind issuing a new release so when we require this gem we don't get that error message anymore? The latest (dm-types 1.2.2) is still requiring bcrypt-ruby.
Thanks!

[2016-05-24 11:27] chackokavanattu12 opened #68 "Gitrob: Command not found"
Hi michenriksen

I have followed the installation steps given, I am running a kali machine, I have ruby 2.1.5, have postgresql service started with client version 9.4.3,Have created gitrob users and databases, Installed gitrob gem pulled the svn co https://github.com/michenriksen/gitrob etc.

Now when i trying to use "gitrob configure" or "gitrob --configure" its giving me the following issue.
roo

[2016-05-25 09:10] michenriksen commented on #68
Hey there,

Did you install Ruby with RVM or are you using the default Ruby installation in Kali?

[2016-05-25 09:15] chackokavanattu12 commented on #68
Using default ruby, should I use rvm??

On Wednesday 25 May 2016, Michael Henriksen <notifications@github.com>
wrote:

[2016-05-25 09:32] michenriksen commented on #68
No, the default Ruby in Kali should be fine. It must be because the path to executables that are installed by rubygems is not part of your `$PATH`. What do get back if you do `echo $PATH` in a terminal?

[2016-05-25 09:50] chackokavanattu12 commented on #68
Hi Micheal

[image: Inline image 1]

[2016-05-25 09:54] chackokavanattu12 commented on #68
This is what i get

root@kali:/# echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[2016-05-25 09:54] chackokavanattu12 commented on #68
Is there a issue where i have multiple python enviornments running i have python 2.7 and python 3.4 as well .

[2016-05-25 10:07] michenriksen commented on #68
Hmm... If I do `gem install gitrob` in a vanilla Kali installation, it installs the gitrob executable at `/usr/local/bin/gitrob` which is part of the $PATH.

Do you find any gitrob executable if you do `find / -type f -executable -name gitrob` in a terminal?

[2016-05-25 10:14] chackokavanattu12 commented on #68
Hi Micheal

Yes it is there i see the executables,But Not sure what went wrong what i
just now did was removed the python virtual enviornment placed only one
python version that is default 2.7 and apt-get update and then started my
postgresql service and now ran gitrob configure and  now it started
working,

Also one other question i had is that if i were to scan the private repo's
of my organizat

[2016-05-25 11:45] michenriksen commented on #68
Good to hear that you figured it out!

yes, the owner of the API key you use will need to be a member of the organization and have access to the private repositories you want to scan. Also remember the correct permission scopes for the key: It needs `repo` and `read:org`.

[2016-05-25 11:45] #68 closed

[2016-05-25 11:46] chackokavanattu12 commented on #68
Thanks Michael, That Helped a lot and your tool the latest version is real
good.

Thanks

On Wed, May 25, 2016 at 5:15 PM, Michael Henriksen <notifications@github.com

[2016-05-29 06:11] matkoniecz opened #69 "tokens from multiple accounts"
It sounds like something that would be against Github ToS - at least some time ago it was against ToS to have multiple accounts.

Maybe it would be a good idea to explicitly note whatever something like that would violate Github ToS?

[2016-05-29 07:44] michenriksen commented on #69
Yes, you are correct. It looks like it's still against the ToS:

    One person or legal entity may not maintain more than one free account, and one machine user account that is used exclusively for performing automated tasks.

What I mean in the README is mainly for companies where several employees can generate an access token for Gitrob. If several individuals generate an access token to be use

[2016-06-13 15:26] tomdavidson opened #70 "gitrob config does not exit"
gitrob config does not exit from GitHub access token question:

[code]

[2016-06-14 17:24] tomdavidson commented on #28
I dont think gitrob is the right tool for a pre-commit. On commit I only need the commit (not all the files) looked at, I want file contents not just names to be analyzed, and I want it to be fast. There are tools that do just this:

- pre-commit by yelp
- git-secrets by awslabs
- talisman by thoughtworks
- I have not checked out Jandre's safe-commit-hook.

But I think @mikeatlas has the right ide

[2016-06-14 22:53] tomdavidson opened #71 "Server Error 500: NoMethodError - undefined method `join' for nil:NilClass"
gitrob server appears to starts just fine, but when it receives web traffic (initial page load) an error is displayed in the browser as well as the console.

**Reproduction Steps:**
1. clone [repo](https://gitlab.com/librelabs/docker-gitrob/tree/master)
2. docker-compose up
3. http://127.0.0.1:9393

**Expected behavior:**
Expected error free webui that would allow me to scan my github orgs.... and

[2016-06-15 06:50] michenriksen commented on #71
Hi Tom, thanks for reporting and using the bug report template!

It looks like the issue might be because Gitrob hasn't been configured with any GitHub access tokens. Do you see any if you `cat ~/.gitrobrc`? If not, just run `gitrob configure` and give it some access tokens.

[2016-06-15 06:52] michenriksen commented on #70
Hi Tom,

The configuration wizard expects to get at least one string with the correct syntax for an access token.

Is there a use case for running the configuration wizard without entering access tokens?

[2016-06-15 10:25] tomdavidson commented on #71
thank you for the quick reply. Is my usage of --access-tokens in my entrypoint [script](https://gitlab.com/librelabs/docker-gitrob/blob/master/run.sh#L14) incorrect?

[code]

$GITHUB_TOKENS is set from my .env file and looks like:
`GITHUB_TOKENS=ba86b6249ff2ae8fa33a3f6292e4b182`

Since I am trying to use --access-tokens & env vars, I have not put the creds in the .gitrobrc file:
[code]

[2016-06-15 10:32] tomdavidson commented on #70
I was trying to create a .gitrobrc file just so I could see what it is suppose to look like, but I just tried again with a properly formated token and observed the same (this is in the same environment as #71):

[code]

[2016-06-15 10:37] tomdavidson commented on #70
I just tried with my real token and realized the previous dummy token was not the correct length. Works as expected with the correct length of token.

[2016-06-15 10:37] #70 closed

[2016-06-18 13:39] anishmi123 opened #72 "Cant install gitrob"
Tried the command gem install gitrob after installing bundler

Getting the following error

![gitrob error](https://cloud.githubusercontent.com/assets/18736512/16171264/12296af0-3588-11e6-9dd4-c154240eb1f9.PNG)

[2016-06-18 13:53] michenriksen commented on #72
It looks like you don't have the `libpq-dev` package installed.

[2016-06-18 13:53] #72 closed

[2016-06-22 20:02] tomdavidson commented on #71
I recently tried again, this time adding the access tokes to the .gitrobrc file and still has the same symptoms.

[2016-06-24 14:16] chackokavanattu12 opened #73 "Pulling out Reports"
Hi Micheal

Is there any feature in gitrob to pull out the information as a report?  or any plans to do that. Its quite tough to keep the check on the browser.

[2016-06-24 14:55] michenriksen commented on #73
Hi there,

Currently there is no way to generate a report of the findings. A possibility might be to print the pages in the web app as PDFs, but you could also do some coding around the data as everything can be found in the Postgresql database, so you could script something that would generate the kind of report you are looking for.

What sort of report did you imagine? A PDF, CSV, JSON or someth

[2016-06-24 17:44] chackokavanattu12 commented on #73
Hi Micheal

A PDF and CSV  would be great. Yeah i was thinking of printing the pages as
PDF as of now.

Thanks
Chacko

On Fri, Jun 24, 2016 at 8:25 PM, Michael Henriksen <notifications@github.com

[2016-06-24 18:48] chackokavanattu12 commented on #73
Hi Micheal

One more suggestion Micheal is that it would be great if there is a
function that i can check telling that this finding is a fals positive and
can remove them and then can concentrate if anything new has come up.

Thanks & Regards
Chacko Abraham

On Fri, Jun 24, 2016 at 11:14 PM, Chacko Kavanattu <
chackokavanattu12@gmail.com> wrote:

[2016-07-05 01:26] pdaugavietis opened #74 "ArgumentError: namespace 'say' is already defined (OSX)"
Not sure where to start with this, but we'd like the running - i'll try on a Linux box tomorrow.

Error with bundle exec:

[code]

With installed gem:

[code]

[2016-07-06 01:52] sabsowitz commented on #74
I am having this exact same issue trying to install Gitrob on my Kali machine. Would really like to figure out what the problem is and how to fix it.

[2016-07-06 08:51] nigifabio commented on #73
I would like to add as option a --syslog or --file to dump the finding in text and be used in automated envirment as well (logstash or splunk etc)

[2016-07-06 11:19] pdaugavietis commented on #74
If i edit `/usr/local/lib/ruby/gems/2.3.0/gems/github_api-0.14.3/lib/github_api/client.rb` and comment out line 61 (namespace definition):
[code]
Seems to work lets me configure and scan.   I"ll submit a PR for it...

[2016-07-06 16:01] sabsowitz commented on #74
@pdaugavietis I can confirm that your solution works. Thank you.

[2016-07-06 16:29] sabsowitz opened #75 "check_conflict_version with Rack"
After running `gitrob configure` I receive the following:

`/usr/lib/ruby/2.3.0/rubygems/specification.rb:2276:in`check_version_conflict': can't activate rack-2.0.1, already activated rack-1.6.4 (Gem::LoadError)
    from /usr/lib/ruby/2.3.0/rubygems/specification.rb:1403:in `activate'
    from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:89:in`block in require'
    from /usr/lib/ruby/2.

[2016-07-06 18:28] sabsowitz commented on #75
The issue appears to be with `load Gem.bin_path('gitrob', 'gitrob', version)`. However, I'm not sure how to modify this line.

[2016-07-08 16:30] aurcioli-handy opened #76 "Search private repositories?"
Can gitrob search repositories that are private under an organization? There are valid threat models for secrets committed to private repositories, for example LDAP admin credentials that a service might need to authenticate users..

Additionally it can be useful to find instances of bad security patterns where people are committing secrets.

[2016-07-14 18:35] ortizmj12 opened #77 "Issues running "gitrob configure" after installation"
I'm having issues configuring gitrob after I install it. I'm getting this error:

[code]

[2016-07-14 18:56] ortizmj12 commented on #77
I was talking to a friend about this and he found a solution [here](https://github.com/michenriksen/gitrob/issues/74#issuecomment-230745132).

[2016-07-18 15:43] johnconner31 commented on #77
I am having same error and tried to edit the file as mentioned in referenced link, but didnt' found any namespace argument commenting on 61 line? Could you help me out if you managed it to work on your box?

error i am getting is:

	from /var/lib/gems/2.3.0/gems/github_api-0.14.4/lib/github_api/client.rb:61:in `<class:Client>'
	from /var/lib/gems/2.3.0/gems/github_api-0.14.4/lib/github_api/client.

[2016-07-18 15:46] johnconner31 commented on #74
I am having same error and tried to edit the file as mentioned in referenced link, but didnt' found any namespace argument commenting on 61 line? Could you help me out if you managed it to work on your box?

Only difference i am seeing is you re using

``github_api-0.14.3`` and i am ``github_api-0.14.4``

error i am getting is:

from /var/lib/gems/2.3.0/gems/github_api-0.14.4/lib/github_api/client

[2016-07-19 21:47] chackokavanattu12 opened #78 "Gitrob configure not working after installing"
Hi Micheal

I am getting the following issue after I installed almost everything
gems installed
PostgreSQL server installed (users and database created)
Ruby version 2.3 installed

here is the issue, Kindly help
"[root@localhost trunk]# gitrob configure
fatal: Not a git repository (or any of the parent directories): .git
/usr/local/rvm/gems/ruby-2.3.0/gems/github_api-0.14.4/lib/github_api/api.rb:3

[2016-07-20 17:25] sabsowitz commented on #77
Go to:
`/usr/local/lib/ruby/gems/2.3.0/gems/github_api-0.14.3/lib/github_api/client.rb`

And comment out around line 61:
`
    namespace :repos
    alias :repositories :repos

    # namespace :say
    alias :octocat :say

    namespace :scopes`

[2016-07-20 22:43] jasonstrange commented on #78
Hey, Try uninstalling github_api and then gem install github_api -v 0.12. I think that'll fix your problem, it's something I just encountered as well. It seems like the gemfile declaration for dependencies is a little too loose.

[2016-07-20 22:47] jasonstrange commented on #74
There have been a lot of these issues cropping up recently. Another possible solution is to `gem uninstall github_api` and then reinstall the specific version that's included in the gemfile. `gem install github_api -v 0.12` Duplicate w/ #78 and #77

[2016-07-21 06:40] chackokavanattu12 commented on #78
HI Jason

Could you tell me the command as well please ?

On Thu, Jul 21, 2016 at 4:13 AM, Jason Strange <notifications@github.com>
wrote:

[2016-07-21 06:42] jasonstrange commented on #78
What do you mean? From the state that you encountered this error, `gem uninstall github_api` and then `gem install github_api -v 0.12` to install the older version of github_api that is in the gem spec :) Note that I tested this on ubuntu 14.04.

[2016-07-21 06:51] chackokavanattu12 commented on #78
Ohh ok , Thanks Jason, I am new to this linux platform so had asked the
question.

Thank you so much

On Thu, Jul 21, 2016 at 12:13 PM, Jason Strange <notifications@github.com>
wrote:

[2016-07-21 20:51] johnconner31 opened #79 "NoMethodError: undefined method `[]' for #<Github::Client:0x00000001a8c950>"
Hi,
getting this error while running `gitrob analyze org-name` . Can anybody help me out? Thanks!

[_] Loading signatures... done
[_] Loaded 79 signatures
[_] Gathering targets... failed
[!] NoMethodError: undefined method `[]' for #Github::Client:0x00000001a8c950
[_] Gathering repositories from 1 targets...
[*] Progress 1/1 |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| 100%

[2016-07-21 20:55] johnconner31 commented on #74
@jasonstrange Thanks it worked.

[2016-07-23 16:09] arbazhussain149 opened #80 "gem install gitrob issue"
root@ : gem install gitrob
Building native extensions.  This could take a while...
ERROR:  Error installing gitrob:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.1.0/gems/pg-0.18.4/ext
/usr/bin/ruby2.1 -r ./siteconf20160723-2412-1vv5ho3.rb extconf.rb
checking for pg_config... yes
Using config values from /usr/bin/pg_config
You need to install postgresql-serv

[2016-07-23 16:14] arbazhussain149 commented on #80
gem --version
2.6.6

Kali Linux 2.0

[2016-07-24 12:51] arbazhussain149 commented on #80
I Followed Each and Every Step Correctly As Mentioned in README File , And Also Postgrel Service Status is Active.

[2016-07-24 13:13] arbazhussain149 commented on #80
Solved By Installing Library of Postgrel.

[2016-07-24 13:13] #80 closed

[2016-07-24 14:09] arbazhussain149 opened #81 "gitrob configure"
root@arbaz:~# gitrob configure
/var/lib/gems/2.1.0/gems/github_api-0.14.4/lib/github_api/api.rb:301:in `namespace': namespace 'say' is already defined (ArgumentError)
	from /var/lib/gems/2.1.0/gems/github_api-0.14.4/lib/github_api/client.rb:61:in `<class:Client>'
	from /var/lib/gems/2.1.0/gems/github_api-0.14.4/lib/github_api/client.rb:4:in `<module:Github>'
	from /var/lib/gems/2.1.0/gems/github_a

[2016-07-24 14:24] arbazhussain149 commented on #81
Just Solved By Adding :

gem uninstall github_api
gem install github_api -v 0.12

[2016-07-24 14:24] #81 closed

[2016-07-24 15:53] arbazhussain149 opened #82 "Gathering Targets Failed"
![git](https://cloud.githubusercontent.com/assets/13177578/17084786/de06756e-51e4-11e6-9575-1e96799a9133.PNG)

[2016-07-27 10:45] zimzima commented on #79
I'm having the same problem, did you find a way around it?

[2016-07-27 10:46] zimzima commented on #82
I'm having the same issue, any news?

[2016-07-27 17:02] kieran-combes commented on #82
`gem uninstall github_api`
`gem install github_api -v 0.13`

fixed it for me

[2016-07-27 18:36] arbazhussain149 commented on #82
Thanks for You'r Valuable Solution It Work's , @kieran-combes  , Closing Report As Resolved !

[2016-07-27 18:36] #82 closed

[2016-07-28 05:39] victor-domain commented on #79
Same here..

[2016-07-28 09:12] zimzima commented on #79
The solution provided by kieran-combes works great:
gem uninstall github_api
gem install github_api -v 0.13

I hope that helps

[2016-08-03 02:59] HanisHairuddin commented on #76
You can't search Private repositories under an organization, unless if you have the permission to access to that repo, and generate the access key for it.

[2016-08-07 21:41] johnconner31 commented on #79
@zimzima Thanks, it worked.

[2016-08-16 17:38] scott-reed commented on #60
:+1: for this feature. Would it make sense to include the title of the issue in the hash in case there are multiple issues identified on a file (i.e "Contains word: secret" and "Contains word: password")?

[2016-08-21 10:38] AiPacino opened #83 "hi,I gave a try on the new version. But doesn't seem to work. Here's the ouput of my analyze command."
weishuai:~/workspace/gitrob (master) $ gitrob server --bind-address=0.0.0.0 --port=8080
     _ _           _
 **_|_| |_ ___ ___| |_
| . | |  _|  _| . | . |
|_  |_|_| |_| |_**|**_|
|**_| By @michenriksen

[_] Starting Gitrob version 1.1.0 at 2016-08-21 10:33 UTC
[_] Loading configuration... done
[_] Preparing database... done
[_] Starting web application on port 8080...
== Sinatra (v1.4.7) has take

[2016-08-22 07:30] vinsf opened #84 "Ability to configure gitrob not to search through repositories outside the organisation"
I have been using gitrob to search for files in my organisations github accounts but I have been finding many more things that I wanted to find. Gitrob fetches all users from those accounts and then fetches the repositories from those users too.

While this is good in a way it can also become a problem if too much is found in these other repositories.

Is there a way to disable this or can we impl

[2016-09-21 23:31] hgautam opened #85 "Gitrob analysis on a single repository"
Hi,
As per documentation, Gitrob can analyze orgs or users. I have a use case where I want to run this for a particular repository. Does the tool allow this or it only works with orgs and user names?

Thanks,
HG

[2016-09-22 00:28] andrewhzhang opened #86 "Multiple instances of Gitrob"
Is there a way to have multiple instances or maybe just a way to have more than one type of scan? Currently I'm doing a scan of both public and private repos for an organization but both scans are combined in the same database in PostgreSQL.

I think it would be useful to have a feature where you can do separate scans that separate the results into two or more databases so you can easily pull data

[2016-09-26 03:36] HanisHairuddin opened #87 "Stop/Start/Restart GitRob command."
Hi All,

Is there a proper command to stop/start or restart GitRob server?

I'm trying to automate the GitRob scanning capabilities. I've managed to done some scripting and add them into crontab for daily runs.

However, it seems that at times, I will encounter issue where the script still runs but GitRob does not give any output. When I ran the script manually or for the first time, the results a

[2016-09-26 08:13] michenriksen commented on #86
Hi Andrew,

Curently Gitrob does not support easy switching between databases, however a solution I can see right now would be to have a folder with two different `.gitrobrc` files which each have a different database connection URI. You can then switch between the two by creating symbolic links, e.g.:

    $ ln -s gitrob_configs/gitrobrc_db1 .gitrobrc
    $ gitrob analyze org1
    $ unlink .gitro

[2016-09-26 08:13] #86 closed

[2016-09-26 08:26] michenriksen commented on #87
Hi Hanis,

It might be a bit hacky, but a quick shell command like:

    $ ps aux | grep "[g]itrob server" | awk '{print $2}'

will tell you the PID for the gitrob server process currently running. You can then use this in your script to kill it:

    kill `ps aux | grep "[g]itrob server" | awk '{print $2}'`

Hope that helps you. Let me know if you find something out about the root problem though,

[2016-09-26 08:26] #87 closed

[2016-09-26 08:27] michenriksen commented on #85
Hi there,

Currently Gitrob doesn't support analyzing a single repository, but it would be a nice addition to the tool. I will add it to the list of new features to implement.

Thanks!

[2016-09-26 08:27] #85 closed

[2016-09-26 08:32] michenriksen commented on #84
Hi there,

Currently Gitrob doesn't support ignoring organization members, but it should be pretty easy to add a command like flag like `--no-org-members` to skip them. I see what you mean with the problem of "information overload" when analyzing Org members, but also keep in mind that you can have some serious blindspots if ignoring those, as an engineer's `.bashrc`, `.bash_history` and similar f

[2016-09-26 08:32] #84 closed

[2016-09-27 23:25] hgautam opened #88 "Gitrob REST API"
Does Gitrob has rest apis available for:
1. Starting gitrob analysis
2. Reporting back analysis results in JSON format

Appreciate your help.

[2016-10-03 12:37] gehaxelt commented on #78
You might want to install ``-v 0.13`` otherwise you'll run into https://github.com/michenriksen/gitrob/issues/79

[2016-10-06 15:26] nwalsh1995 opened #89 "Run on targets only option"
It would be nice if one could specify a flag to only run on a certain organization or user and not spider to the contributors for that repository.

There are times where I am not interested in those who helped the org/user I am running gitrob on.

[2016-10-21 06:09] Shekharrajak commented on #5
I get an error

[2016-10-25 20:37] chess1669 opened #90 "Can't Redo Configuration"
Accidentally entered wrong password for gitrob configure. Can not find a way to edit or re submit the credentials. Any ideas?

[2016-10-29 04:04] root0er opened #91 "in `namespace': namespace 'say' is already defined"
`/home/root0er/.rvm/gems/ruby-2.0.0-p648/gems/github_api-0.14.5/lib/github_api/api.rb:301:in`namespace': namespace 'say' is already defined (ArgumentError)
    from /home/root0er/.rvm/gems/ruby-2.0.0-p648/gems/github_api-0.14.5/lib/github_api/client.rb:61:in `<class:Client>'
    from /home/root0er/.rvm/gems/ruby-2.0.0-p648/gems/github_api-0.14.5/lib/github_api/client.rb:4:in`module:Github'
    fro

[2016-10-29 21:36] rl6067 opened #92 "Permission denied @ rb_sysopen"
Installed GitRob + all packages etc, configured it but when I try to run it with the command (example):

gitrob analyze acme.com then accept the disclaimer, I receive the following:

Do you agree to the terms of use? (y/n): y
/var/lib/gems/2.3.0/gems/gitrob-1.1.0/lib/gitrob/cli/commands/accept_terms_of_use.rb:50:in `initialize': Permission denied @ rb_sysopen - /var/lib/gems/2.3.0/gems/gitrob-1.1.

[2016-10-29 22:05] rl6067 commented on #92
SOLVED. My bad.

sudo chmod 777 /var/lib/gems/2.3.0/gems/gitrob-1.1.0/

[2016-10-29 22:05] #92 closed

[2016-10-31 10:32] koshtigirish commented on #91
Go to client.rb file and comment line number 61 and 62 .it is working for me

[2016-10-31 10:38] koshtigirish opened #93 "I am not able to find sensitive data in my all repositories and org I side enterprise"
Hi ,can anyone help me on it that I am  able to scan but there is not sensitive data or signature but there is lot of signature is there .For manually testing I put many signature in my enterprise repo but still I am not finding.

[2016-11-01 21:44] koshtigirish commented on #90
Kill the port number....and try again
If you are using Linux so if port is 9393 then try kill -9 subport

[2016-11-08 20:51] rodowi opened #94 "URI::InvalidURIError: bad URI(is not URI?) during configuration"
If password has spaces on it, configuration will fail due to an InvalidURIError exception.

**Reproduction Steps:**

1. run `gitrob configure`
2. Use a password containing spaces 'like this password'
3. Get `URI::InvalidURIError`

**Expected behavior:**

Configuration should handle spaces and other characters, like real passwords do :trollface:

**Screenshots and GIFs**

[code]

**Gitrob version:*

[2016-11-08 20:54] rodowi commented on #94
Suggesting patch #95

[2016-11-09 18:00] vyrus001 opened #96 "can not run configure"
all gems installed (including gitrob). Postgresql database created. When i run gitrob configure, i get this

gitrob configure
/var/lib/gems/2.3.0/gems/github_api-0.14.5/lib/github_api/api.rb:301:in `namespace': namespace 'say' is already defined (ArgumentError)
	from /var/lib/gems/2.3.0/gems/github_api-0.14.5/lib/github_api/client.rb:61:in `<class:Client>'
	from /var/lib/gems/2.3.0/gems/github_api

[2016-11-09 19:22] rajuXkiran commented on #62
Hi,
I am trying to install gitrob on CentOS 7,i followed the installation Guide on github but iam getting the below error while installing.

[root@localhost ~]# gem install gitrob
Fetching: thor-0.19.1.gem (100%)
Successfully installed thor-0.19.1
Fetching: colorize-0.8.1.gem (100%)
Successfully installed colorize-0.8.1
Fetching: highline-1.7.8.gem (100%)
Successfully installed highline-1.7.8
Fetc

[2016-11-14 06:31] Astrades opened #97 "Accidentally Gave Wrong Hostname to GitRob Configure"
I accidentally pressed a button on my keyboard while configuring GitRob and my postgresql server hostname is stuck as the incorrect connection. Every time I try to start GitRob, I am given this error message.
"
Sequel::DatabaseConnectionError: PG::ConnectionBad: could not translate host name "gitrob" to address: Name or service not known
"
How do I fix/change the hostname I selected to the default

[2016-11-14 09:57] michenriksen commented on #97
Hey there, you can fix it by opening `~/.gitrobrc` in your favourite editor and correct the connection URI. That should make it work again.

[2016-11-14 09:57] #97 closed

[2016-11-18 02:07] anshumanbh commented on #79
This does not work even with github_api -v 0.13. I still get the same error

[*] Loading signatures... done
[*] Loaded 79 signatures
[*] Gathering targets... failed
[!] NoMethodError: undefined method `[]' for #<Github::Client:0x005558a0674640>

[2016-11-18 07:00] anshumanbh commented on #79
So, I figured that the above error is caused due to the API key being used. I was using an overly permissible API key of my github organization that sits behind a VPN. I replaced that by my personal account's key and it started working

[2017-01-11 19:27] jeffxf commented on #96
The issue is caused by having github_api v 0.14 so you can fix this by uninstalling the github_api gem you currently have and installing 0.13 instead by running these commands:
`gem uninstall github_api`
`gem install github_api -v 0.13`

[2017-01-12 17:37] IridiumHack commented on #96
Thank you for your help!

On Wed, Jan 11, 2017 at 1:27 PM, Jeff Ferrell <notifications@github.com>
wrote:

[2017-01-13 00:05] jeunito commented on #96
I tried @jeffxf's fix too and it worked for me. Thanks.

[2017-01-13 00:17] jeunito commented on #96
I have made a PR that pins the github_api gem to 0.12. I hope it gets merged.

[2017-01-17 10:51] HanisHairuddin opened #99 "Exclude certain user from scanning"
Hi everyone,

Would it be possible to exclude certain users from being scan/discover by GitRob?

Recently I'm encountering a user account which has a public user assigned, and I do not want it to be included when scanning.

Is this something that I need to configure within gitrob or would it be through the GitHub access tokens?

Appreciate the help and thanks in advance!

[2017-01-21 16:07] mattsibley opened #100 "Sequel::DatabaseConnectionError"
Hi any anyone help me with this error?

___|_| |_ ___ ___| |_
| . | |  _|  _| . | . |
|_  |_|_| |_| |___|___|
|___| By @michenriksen

[*] Starting Gitrob version 1.1.0 at 2017-01-21 16:01 GMT
[*] Loading configuration... done
[*] Preparing database... failed
[!] Sequel::DatabaseConnectionError: PG::ConnectionBad: could not connect to server: Connection refused
	Is the server running on host "local

[2017-01-25 19:07] jeffxf commented on #96
@jeunito I didn't look into what changed between 0.12 and 0.13 but changing that pull request to have it use 0.13 might be a good idea since it is the most recent version that works.

[2017-01-26 18:10] jeunito commented on #96
@jeffxf ok I think I may have seen issues with 0.13 too but I'll check again.

[2017-01-31 01:21] jeunito commented on #96
@jeffxf I can confirm that this works on 0.13

[2017-01-31 20:28] jeunito commented on #96
@jeffxf I have updated the PR to use 0.13 instead.

[2017-03-01 14:34] #40 closed

[2017-03-31 16:17] sonahri opened #102 "when i try to install gitrob..this error happen.."

[2017-04-04 14:19] perfecto25 commented on #102
Im getting similar error installing on centos7 ruby v 2.2.1

"gcc -E -I/root/.rbenv/versions/2.2.1/include/ruby-2.2.0/x86_64-linux -I/root/.rbenv/versions/2.2.1/include/ruby-2.2.0/ruby/backward -I/root/.rbenv/versions/2.2.1/include/ruby-2.2.0 -I. -I/root/.rbenv/versions/2.2.1/include     -O3 -fno-fast-math -ggdb3 -Wall -Wextra -Wno-unused-parameter -Wno-parentheses -Wno-long-long -Wno-missing-fiel

[2017-04-04 14:20] perfecto25 commented on #102
was able to resolve it like this,

1. yum install libpqxx-devel
2. gem install gitrob

[2017-04-04 14:25] perfecto25 commented on #74
have same issue on centos7, can confirm commenting out namespace say in client.rb fixes the issue.

[2017-04-04 14:30] perfecto25 opened #103 "Has anyone configured this for Bitbucket?"
or is this strictly github?

[2017-04-06 09:14] SmokyJp opened #104 "I can not run configure after install."
After install and run gitrob configure, I get this :

./gitrob configure
/usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- gitrob (LoadError)
	from /usr/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from ./gitrob:3:in `<main>'

uname -a
Linux kali 4.9.0-kali3-amd64 #1 SMP Debian 4.9.16-1kali1 (2017-03-24) x86_64 GNU/Linux

[2017-04-09 08:06] michenriksen commented on #91
This issue is fixed in version 1.1.1

[2017-04-09 08:06] #91 closed

[2017-04-09 08:06] michenriksen commented on #74
This issue is fixed in version 1.1.1

[2017-04-09 08:06] #74 closed

[2017-04-09 08:11] michenriksen commented on #100
Hi, Postgresql is not started as default in Kali, you'll need to execute `service postgresql start` to start it up. I think that should fix your issue.

[2017-04-09 08:11] #100 closed

[2017-04-09 08:13] michenriksen commented on #104
Did you install with `gem install gitrob` or did you clone the repo?

[2017-04-09 08:14] michenriksen commented on #96
This issue is fixed in version 1.1.1

[2017-04-09 08:14] #96 closed

[2017-04-09 11:09] dmatrix500 commented on #100
hi ,@michenriksen  This fixed the issue . This is a great tool . Many Thanx .

[2017-04-10 08:53] warlock0007 opened #105 "Using gitrob for sensitive info that can be reported under the responsible disclosure"
Hello all,

I am new in the field of security and want to learn some good recon tactics. 2 weeks back, got to know about gitrob. Such an amazing tool but need some suggestion on analyzing the results.

I was doing recon for one organization n got on ruby on rails secret token file. This issue is pretty much critical as it can lead to [RCE.](http://robertheaton.com/2013/07/22/how-to-hack-a-rails-ap

[2017-04-14 20:58] tomeddistone opened #106 "How to analyze flagged files without completing afull scan of an organization?"
Sometimes when analyzing a big company gitrob stops scanning due to excessive scanning and I kill the process.
When I access the gitrob panel at 127.0.0.1:9393, I can't see and access those flagged files at all (company's assessment is not clickable).
**So the question is:** Is it possible to analyze files that have already been flagged after killing the process of analyzing? If yes, then how?
You

[2017-04-17 16:23] michenriksen commented on #106
Hi there, that sounds odd. Does it completely die and error out or become unresponsive?

Unless the scan finishes, the assessment is flagged as "in progress". You can change the status flag directly in the database, but that is of course a pretty hacky solution. :/

[2017-04-19 06:40] ivanramone commented on #106
@michenriksen it just becomes unresponsive
Could you tell me the easiest way to change the status flag directly?

[2017-05-10 14:35] mustaqiimuhar opened #107 "Sequel Deprecation Warning"
Should I be concern with this warning? I'm not able to view the webpage as there's no response from it :\

[*] Preparing database...SEQUEL DEPRECATION WARNING: Sequel::Model.set_allowed_columns is deprecated and will be removed in Sequel 5.  Load the whitelist_security plugin into the model class.
/var/lib/gems/2.3.0/gems/sequel-4.46.0/lib/sequel/model/base.rb:833:in `set_allowed_columns'
/var/lib

[2017-05-10 16:21] #107 closed

[2017-05-15 18:22] michenriksen commented on #105
Hey there, Gitrob is not a point-and-pwn tool, you will need to sift through the findings and think about what might be exploitable. In the case of exposed Rails secret tokens, you will likely find a bunch of them on most Orgs that you analyze, however in order to be a valid finding for a Bug Bounty it will of course need to be an application that relates to the company and is within scope of thei

[2017-05-16 06:44] karanmilan opened #108 "Can't access GitLab Personal Access Tokens"
When I try to configure GitRob by using the command gitrob --configure
I can enter all the details but when I enter the Personal Access Token when prompted it doesn't recognize it I guess because when I enter one token and then the next line blank to stop the process, it just goes on and on. Asking me for GitHub Access tokens

[2017-05-16 08:42] michenriksen commented on #108
Gitrob only works against github.com. I guess GitLab's access tokens follow a different format and Gitrob therefore sees them as invalid.

[2017-05-16 08:42] #108 closed

[2017-05-19 12:56] nigifabio commented on #60
anything on this? no idea on how to implement but i'm dreaming on a button on the interface to mark the file as "false positive"

[2017-05-26 08:47] warlock0007 commented on #105
Thanks a lot. This was a great help. Got your porint :)

[2017-06-30 07:05] inspaya opened #109 "Content Analysis - finding sensitive information by analysing file contents"
**How this works**
Using a combination of regular expressions and mathematical calculations, file contents are analyzed for potentially sensitive credentials. This approach does not rely on the extension alone. By default all file extensions are scanned except the user excludes some in a configuration file.

**Current and suggested behavior**
The current behavior is that Gitrob relies on the file

[2017-06-30 07:06] inspaya commented on #109
@michenriksen please review and provide feedback. Thanks

[2017-07-11 16:39] arbazkiraak commented on #100
root@kali:/usr/local/bin# gitrob configure
     _ _           _
 ___|_| |_ ___ ___| |_
| . | |  _|  _| . | . |
|_  |_|_| |_| |___|___|
|___| By @michenriksen

[*] Starting Gitrob version 1.1.2 at 2017-07-11 12:38 EDT
[*] Loading configuration... done
[*] Preparing database... failed
[!] Sequel::DatabaseConnectionError: PG::ConnectionBad: fe_sendauth: no password supplied

[2017-07-11 16:39] arbazkiraak commented on #100
I have Created password for gitrob DB in postgres .

Now Problem is how to configure gitrob again ?

[2017-07-12 16:32] t3h2mas commented on #76
That doesn't seam to be the case. I tried just that, and only the public repos of org members were scanned. The key had read access to the private org's repos.

There would be immense value in being able to scan private repositories from a defensive standpoint. Which a commit pipeline would be ideal, some companies need to scan backwards.

Ideally functionality for me:
 * be able to scan private r

[2017-07-15 23:06] blackappy commented on #100
A little guidance on how to reconfigure gitrob would be much appreciated.
gitrob --configure:

[*] Starting Gitrob version 1.1.2 at 2017-07-15 19:05 EDT
[*] Loading configuration... done
[*] Preparing database... failed
[!] Sequel::DatabaseConnectionError: PG::ConnectionBad: fe_sendauth: no password supplied

[2017-07-16 13:51] arbazkiraak commented on #100
hi @blackappy

cd $HOME

root@kali:~# ls -la | grep gitrob
-rw-r--r--  1 root root      135 Jul 11 12:42 .gitrobrc
root@kali:~# vi .gitrobrc
---
sql_connection_uri: postgres://USERNAME:PASSWORD@localhost:5432/gitrob
github_access_tokens:
- GITUB ACCESS TOKEN Here.

Hope this will Fix !

[2017-07-16 13:54] arbazkiraak commented on #100
hi @blackappy

cd $HOME

root@kali:~#  ls -la | grep gitrob
-rw-r--r--  1 root root      135 Jul 11 12:42 .gitrobrc

root@kali:~# vi .gitrobrc

[code]

Just add your postgres username:password here

Hope this will Fix !

[2017-07-20 03:33] RatnamRaju commented on #100
Same error

redis_1  | 24:M 20 Jul 03:25:41.504 * DB loaded from disk: 0.012 seconds
redis_1  | 24:M 20 Jul 03:25:41.504 * The server is now ready to accept connections on port 6379
app_1    | => Executing Rake db:migrate ...
app_1    |   ERROR -  Sequel::DatabaseConnectionError - PG::ConnectionBad: could not connect to server: Connection refused
app_1    | 	Is the server running on host "localhos

[2017-07-28 15:07] bhheneghan opened #114 "Redo gitrob configure"
I running Kali and I screwed up gitrob configure and now I cannot run it.  My error is below.  I also cannot find ~/.gitrobrc.

How can rerun the configure?

[*] Starting Gitrob version 1.1.2 at 2017-07-28 11:01 EDT
[*] Loading configuration... done
[*] Preparing database... failed
[!] URI::InvalidURIError: bad URI(is not URI?): postgres://gitrob:xxxx@xxxx@gitrob:5432/gitrob

[2017-08-15 12:21] phackt commented on #107
Any comments on that?

[2017-08-16 05:37] mustaqiimuhar commented on #107
@phackt nothing much, Gitrob still runs as per usual. Those are just warnings to indicate that `Sequel::Model.set_allowed_columns` is a deprecated function. To resolve the warning, its best to use `set_only` or [`set_fields`](http://sequel.jeremyevans.net/rdoc/classes/Sequel/Model/ClassMethods.html#method-i-set_allowed_columns)

[2017-08-27 04:22] bragot commented on #90
For me, the above suggestion didn't work, but what did work for me was to delete the config file and re run gitrob configure

Config file is at ~/.gitrobrc

[2017-08-28 12:47] poon64 commented on #60
I have just started to scan all repos in our GitHub Enterprise, and it really would be a good help to be able to flag files as OK. We have more than 1200 repos in 18 organizations, so the first check would take some time.

[2017-08-28 13:50] poon64 opened #115 "Gitrob server"
How can I use other IP and port for the web server?
If i do as instructed, like this, gitrob server --bind-address=192.168.47.129 --port=9393
It will start on this IP and port,
[*] Starting web application on port 9393...
== Sinatra (v1.4.7) has taken the stage on 9393 for production with backup from Thin
Thin web server (v1.6.3 codename Protein Powder)
Maximum connections set to 1024
Listening on

[2017-08-30 08:51] poon64 commented on #109
When I am checking the result of the scan I can see that there are files missing that I know include usernames and passwords. It seems like the scan only relies to the name of the files.
I am using the version 1.1.2 of GitRob.
Do I have to do anything specific to make it scan the contents of the files after the word "password"?
I am scanning on GitHub Enterprise organizations.

/Peter

[2017-08-30 11:02] poon64 commented on #115
I found the problem, it was a proxy problem.
Also had to enter more information to the gitrob analyze command, like this,
_gitrob analyze --no-server --bind-address=192.168.47.129 --port=9393 --site=https://github-test.scania.com/ --endpoint=https://github-test.scania.com/api/v3/ SAINT_

/Peter

[2017-08-30 17:57] mrmanc opened #116 "Scanning GHE organisation yields no files despite matching custom pattern"
I’ve tried running gitrob against our GitHub Enterprise instance and although it finds 1208 targets, it reports zero files. I’ve configured it with the following custom signatures (even trying one which should match every file) and I still get zero files (see sample results below) and it blasts though those targets in about forty seconds.

I can see that it is picking up the signatures as the incr

[2017-08-31 15:37] mrmanc commented on #116
Solved by a colleague! This was another case of #61 it turns out.

[2017-08-31 15:37] #116 closed

[2017-08-31 15:41] mrmanc commented on #61
I think I experienced this issue because I copy pasted the URL format for the API from the README. Would it be a good idea to change `--endpoint=https://github.acme.com/api/v3` to `--endpoint=https://github.acme.com/api/v3/` on [this line](https://github.com/michenriksen/gitrob/blame/master/README.md#L73)?

[2017-08-31 19:42] #115 closed

[2017-09-01 06:09] danyalzafar420 commented on #114
I also have the same issue :(

[2017-09-06 13:21] poon64 commented on #114
Check the ~/.gitrobrc
It seems like you have the @ in your password, that could cause a problem.
The URI in .gitrobrc should look something like this,
sql_connection_uri: postgres://gitrob:PASSWORD@localhost:5432/gitrob

[2017-09-08 07:20] arunbalu123 commented on #52
I got following error while running gitrob. Could you suggest me some help

[*] Starting Gitrob version 1.1.2 at 2017-09-08 12:42 IST
[*] Loading configuration... done
[*] Preparing database...SEQUEL DEPRECATION WARNING: Sequel::Model.set_allowed_columns is deprecated and will be removed in Sequel 5.  Load the whitelist_security plugin into the model class.
/var/lib/gems/2.1.0/gems/sequel-4.49.0/l

[2017-09-08 16:17] danyalzafar420 commented on #114
Please guide how to check ~/.gitrobrc because i could not find its path.. :(

[2017-09-08 20:50] poon64 commented on #114
That is the path :)
The .gitrobrc is located in your home directory, so ~/.gitrobrc will take you there, if you do "ls -al ~/.gitrobrc" (without the "") you should be able to see the file, and if you replace the ls with cat you will se the content of the file.

[2017-09-09 05:46] danyalzafar420 commented on #114
![per](https://user-images.githubusercontent.com/10330087/30237469-863c71a2-94e7-11e7-820e-bc63605fa69f.PNG)

Tried and here are results

[2017-09-09 07:56] poon64 commented on #114
When doing the cat command you shouldn't have the -al, that was for the ls command, forgot to remove that, sorry.
So if you do, "cat /root/.gitrobrc" (without the "") you should see the content of the .gitrobrc

[2017-09-09 10:44] danyalzafar420 commented on #114
Dear @poon64
Thanks a lot for the help.. I have this issue to resolve now how to resolve it.. whether i have to remove all the text from /root/.gitrob ? or perhaps remove the downloaded gitrob and again downloading all stuff and configuring ?
![git](https://user-images.githubusercontent.com/10330087/30239423-10ac6c9c-9511-11e7-9574-ccc24477c7a6.PNG)

[2017-09-09 11:04] poon64 commented on #114
Try to delete the .gitrobrc file with "rm /root/.gitrobrc" and then recreate the file again with command "gitrob configure"

[2017-09-29 16:07] i4specete commented on #103
something reply for this question?

[2017-10-04 15:12] attacker420 commented on #114
![ser2](https://user-images.githubusercontent.com/10330087/31183551-c512dea4-a8db-11e7-9aa0-71ddfa81df7a.PNG)
Dear @poon64

Thanks I tried and attaching results..
![ser](https://user-images.githubusercontent.com/10330087/31183516-a953fc2a-a8db-11e7-9560-ce629818a060.PNG)

[2017-10-04 15:18] attacker420 commented on #114
![ser2](https://user-images.githubusercontent.com/10330087/31183822-8e00afc6-a8dc-11e7-823c-f831d5e8f6cd.PNG)
Dear @poon64 ,
Thanks , I have tried but again failed with same Error.. This time i have not included any special chars in my password.
Kindly look at the attached images.
![ser](https://user-images.githubusercontent.com/10330087/31183808-8331e3a8-a8dc-11e7-9cdf-053420b20235.PNG)

[2017-10-04 15:38] attacker420 commented on #102
Now facing this issue, can't go further without solving it :(
While configuring the gitrob , it occured .. then i run the gitrob -h ..again this showed up.
i ignored and tried to use the tool..but all in vain
[code]

[2017-10-06 06:23] HassanKhanYusufzai commented on #62
Hi,
For me issue solved with the following steps.

1- sudo apt-get install ruby-full
2- sudo apt-get install libz-dev libiconv-hook1 libiconv-hook-dev
3- sudo gem install rails
4- gem install gitrob

I hope this will help.

[2017-10-06 06:44] HassanKhanYusufzai commented on #107
Hi guys getting this error what to do???

[*] Starting Gitrob version 1.1.2 at 2017-10-06 11:43 PKT
[*] Loading configuration... done
[*] Preparing database...SEQUEL DEPRECATION WARNING: Sequel::Model.set_allowed_columns is deprecated and will be removed in Sequel 5.  Load the whitelist_security plugin into the model class.
/var/lib/gems/2.3.0/gems/sequel-4.49.0/lib/sequel/model/base.rb:848:in `se

[2017-10-10 01:01] Os3r3um opened #117 "Error/warning messages while running a scan"
Hi,

Got this tool installed and configured according to the described steps. However, while I'm trying to use it I do get this:

[code]

Any idea how to get rid of these?

Thanks!

[2017-10-11 17:32] mikkz commented on #62
Hi,

I got errors when trying to fix this with `apt-get install libpq-dev`

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The

[2017-10-21 19:03] hariramb opened #118 "installation error without installing zlib1g-dev"
Tried "gem install gitrob" on a kali 2.0 machine.

Got the error: "zlib is missing;necessary for building libxml2"

Did "apt-get install zlib1g-dev , installation worked fine after. FYI.

[2017-10-27 04:55] UnitOne1by1 commented on #117
Is it says ' Could not find command "_xxx" ' in the end?

[2017-11-13 11:56] Sliim commented on #71
Try putting your github access token in an array, this is what I have in my gitrobrc:
[code]

[2017-12-12 01:36] 0xtavian opened #119 "Kali 4.13 and below ERROR: Failed to build gem native extension: nokogiri"
You must first install these dependencies for nokogiri before a successful install.
Source is the official documentation:
http://www.nokogiri.org/tutorials/installing_nokogiri.html

To fix:
###  root@kali:~# sudo apt-get install build-essential patch ruby-dev zlib1g-dev liblzma-dev

 **Terminal output unsuccessful to successful **

### root@kali:~# gem install gitrob
Fetching: colorize-0.8.1.gem (

[2017-12-20 14:43] northdpole opened #121 "[request] Check file contents as well as file extensions"
Hi, I was wondering if it's on the roadmap to add rules to check for secrets in source code. So far the "part" in the rules only accepts filename, path and extension.

If it isn't, would you be open to a pull request which would add this functionality?

Thanks

[2017-12-20 19:12] Essenpreis commented on #121
I've modified Gitrob to scan for file contents! Just look into my forks. It works pretty well including number of regular expressions to search for all kinds of secrets.

If someone helps me with some code beautifications I'd file a pull request.

[2017-12-20 19:15] Essenpreis commented on #109
I've modified Gitrob to scan for file contents! Gitrob does not support this out of the box.

Just look into my forks. It works pretty well including number of regular expressions to search for all kinds of secrets.

If someone helps me with some code beautifications I'd file a pull request.

[2017-12-21 01:57] inspaya commented on #109
@Essenpreis thanks for looking into it.

[2018-02-12 09:35] mschiessl opened #122 "Gitrob behind nginx reverse proxy (adding SSL)"
Hey all,
i wonder if anyone has running gitrob behind nginx as a reverse proxy to add ssl and authentication.

i tried this and got an 403 on every request that is not a GET.
Example:

When deleting an assesement, gitrob will send a DELETE request to the server, which is answered with a 403 by gitrob. (I guess having an issue with the XSRF or Origin header).
Doing the same thing without nginx as p

[2018-02-20 16:16] dracohacker opened #123 "gitrob configure. Nothing happens afterwards."
root@dragon:/home/master# gitrob
[*] Starting Gitrob version 1.1.2 at 2018-02-20 16:02 UTC
[*] Starting Gitrob configuration wizard
Enter PostgreSQL hostname: |localhost|
Enter PostgreSQL port: |5432|
Enter PostgreSQL username: |gitrob|
Enter PostgreSQL password (masked): xxxxxx
Enter PostgreSQL database name: |gitrob|
Enter GitHub access tokens (blank line to stop):
c2f386a[REMOVED SOME PART]5df2

[2018-03-06 11:21] noobsecX01 commented on #62
@mlkkz same here i can't able to install libpq-dev in kali sana
i try to fix but it get worst, i heck my repo ,every thing fine but still i get stuck in this step

[2018-03-25 01:19] Vjay615 commented on #117
Anyone able to fix this issue? I am still getting a bunch of : SEQUEL DEPRECATION WARNING: Sequel::Model.set_allowed_columns is deprecated and will be removed in Sequel 5.  Load the whitelist_security plugin into the model class.

[2018-03-25 01:20] Vjay615 opened #125 "SEQUEL DEPRECATION WARNING:"
I am getting this error when i run gitrob -o GitHub
SEQUEL DEPRECATION WARNING: Sequel::Model.set_allowed_columns is deprecated and will be removed in Sequel 5.  Load the whitelist_security plugin into the model class.
/var/lib/gems/2.5.0/gems/sequel-4.49.0/lib/sequel/model/base.rb:848:in `set_allowed_columns'
/var/lib/gems/2.5.0/gems/gitrob-1.1.2/lib/gitrob/models/repository.rb:4:in `<class:Repos

[2018-04-19 22:37] e1337 commented on #109
Hi, Any updates on this?

[2018-05-08 17:01] ThisBritishGuy opened #127 "ar"

[2018-05-08 17:01] #127 closed

[2018-05-09 17:57] wowz1 commented on #118
Thank you! Fixed the error for me as well.

[2018-05-11 07:50] jaikishantulswani opened #128 "Error while installing"
Building native extensions. This could take a while...
ERROR:  Error installing gitrob:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/pg-0.21.0/ext
/usr/bin/ruby2.3 -r ./siteconf20180511-21615-1sdf3ue.rb extconf.rb
checking for pg_config... yes
Using config values from /usr/bin/pg_config
You need to install postgresql-server-dev-X.Y for building a s

[2018-05-19 07:05] Lz1y commented on #128
same as me

[2018-05-19 07:11] Lz1y commented on #128
just try:
apt-get install libpq-dev

[2018-05-19 07:36] jaikishantulswani commented on #128
Still getting the same :(

gem install gitrob
Building native extensions. This could take a while...
ERROR:  Error installing gitrob:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/pg-0.21.0/ext
/usr/bin/ruby2.3 -r ./siteconf20180519-2028-1tswidw.rb extconf.rb
checking for pg_config... yes
Using config values from /usr/bin/pg_config
You need to insta

[2018-05-21 10:11] securityaspirations commented on #119
This fixed it for me as well, thanks very much

[2018-06-09 07:56] #128 closed

[2018-06-09 07:56] #125 closed

[2018-06-09 07:56] #123 closed

[2018-06-09 07:56] #122 closed

[2018-06-09 07:56] #121 closed

[2018-06-09 07:56] #119 closed

[2018-06-09 07:56] #118 closed

[2018-06-09 07:56] #117 closed

[2018-06-09 07:56] #114 closed

[2018-06-09 07:56] #109 closed

[2018-06-09 07:56] #106 closed

[2018-06-09 07:56] #105 closed

[2018-06-09 07:56] #104 closed

[2018-06-09 07:56] #103 closed

[2018-06-09 07:56] #102 closed

[2018-06-09 07:56] #99 closed

[2018-06-09 07:56] #94 closed

[2018-06-09 07:56] #93 closed

[2018-06-09 07:56] #90 closed

[2018-06-09 07:56] #89 closed

[2018-06-09 07:56] #83 closed

[2018-06-09 07:56] #88 closed

[2018-06-09 07:57] #79 closed

[2018-06-09 07:57] #78 closed

[2018-06-09 07:57] #77 closed

[2018-06-09 07:57] #75 closed

[2018-06-09 07:57] #76 closed

[2018-06-09 07:57] #73 closed

[2018-06-09 07:57] #71 closed

[2018-06-09 07:57] #69 closed

[2018-06-09 07:57] #60 closed

[2018-06-09 07:57] #48 closed

[2018-06-09 07:57] #43 closed

[2018-06-09 07:57] #41 closed

[2018-06-09 07:57] #38 closed

[2018-06-09 07:57] #21 closed

[2018-06-09 07:57] #28 closed

[2018-06-09 13:22] eur0pa opened #129 "Go build fails with `cannot use X (type *int64) as type *int in field value`"
Hi there,
just trying a regular build and it's failing:

[code]

[2018-06-09 15:14] michenriksen commented on #129
Thanks for reporting! Unfortunately I can't reproduce this issue on my Mac. Does the precompiled binary work for you?

[2018-06-09 15:30] eur0pa commented on #129
Yup, the pre-compiled version works out of the box. Very weird I can't seem to compile it with a simple `go get`, it will always fail with the same error. Same go version as mine?

[2018-06-09 15:49] michenriksen commented on #129
Yes, I use 1.10.3 too. Could you try giving the go get command the `-u` flag too? Maybe it's using an old version of the Github package.

[2018-06-09 15:52] eur0pa commented on #129
No cigar. Dump follows:

[code]

[2018-06-09 17:50] jaikishantulswani commented on #129
Getting the same

$ go get github.com/michenriksen/gitrob
# github.com/michenriksen/gitrob/core
github.com/michenriksen/gitrob/core/github.go:43:7: cannot use user.ID (type *int64) as type *int in field value
github.com/michenriksen/gitrob/core/github.go:73:13: cannot use repo.ID (type *int64) as type *int in field value
github.com/michenriksen/gitrob/core/github.go:105:75: cannot use member.ID (t

[2018-06-09 18:09] heidark commented on #129
Same here, changing `int` to `int64` allows me to build it.

The ID in User struct is a int64: https://github.com/google/go-github/blob/master/github/users.go#L22

The PR that changed ID's from int to int64 is here: https://github.com/google/go-github/pull/816

@michenriksen is your `google/go-github` up to date?

[2018-06-09 19:19] michenriksen commented on #129
Hmm, yes, it's the latest version. :confused:

[2018-06-09 20:56] michenriksen commented on #129
Oh, my bad. I was actually running with an older version of `go-github` I fixed the code to use `*int64` for ID fields now, so `go get` should work.

[2018-06-09 21:27] #129 closed

[2018-06-10 06:32] jaikishantulswani commented on #129
Why I am still getting the same error

go get github.com/michenriksen/gitrob
# github.com/michenriksen/gitrob/core
go/src/github.com/michenriksen/gitrob/core/github.go:43:7: cannot use user.ID (type *int64) as type *int in field value
go/src/github.com/michenriksen/gitrob/core/github.go:73:13: cannot use repo.ID (type *int64) as type *int in field value
go/src/github.com/michenriksen/gitrob/core/g

[2018-06-10 17:40] ScatteredThoughts opened #130 "Feature request - Show commit date"
Hello,

Great work on the Go version!

Would it be possible to show the commit date in the summary of the Findings? This might help in determining how likely it is that credentials or keys are still in use.

[2018-06-11 05:56] jaikishantulswani opened #131 "cannot use user.ID (type *int64)"
I am still getting this :(

go/src/github.com/michenriksen/gitrob/core/github.go:43:7: cannot use user.ID (type *int64) as type *int in field value
go/src/github.com/michenriksen/gitrob/core/github.go:73:13: cannot use repo.ID (type *int64) as type *int in field value
go/src/github.com/michenriksen/gitrob/core/github.go:105:75: cannot use member.ID (type *int64) as type *int in field value

[2018-06-11 09:08] skim-milk opened #132 "Question/Feature Request - Non GitHub"
Hey man, this is really cool.

Is it possible to scan local repositories, or repositories not hosted on GitHub?

Cheers

[2018-06-12 06:13] bugbaba opened #133 "Feature request - Allow individual Repositories"
Hi,

Right now **gitrob**  it is checking all repositories of an organization/users.

can you add a flag to restrict to just check a specified repository.

As I think scanning all repositories isn't the need in some cases and it also increases the processing time.

## Specifications

  - Gitrob version:  v2.0.0-beta

[2018-06-12 07:58] Essenpreis opened #134 "Feature Request: Gitrob to scan file contents as well"
Hi,
Great work on the Go-version. I once forked the former Ruby version and implemented a version so that Gitrob can scan file contents as well. This small adaption went along with a signatures.json having sort of sophisticated regular expressions in order to be able to search e.g. for keys/passwords inside files.

https://github.com/Essenpreis/gitrob/blob/master/signatures.json
and here's my fork

[2018-06-12 09:19] michenriksen commented on #132
Fow now it's only possible to scan repos on Github, but I could look into supporting local repos too. I will probably consider other code hosting sites out of scope for the time being, though.

Thanks for your input!

[2018-06-13 20:43] mriduam opened #135 "Question on "Viewing a finding, Interesting things are highlighted""
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2018-06-13 20:45] mriduam commented on #135
![screen shot 2018-06-11 at 3 22 38 pm](https://user-images.githubusercontent.com/39810263/41377093-e1ac40b4-6f0f-11e8-98f6-52421366ab35.png)

[2018-06-14 12:47] michenriksen commented on #135
This is the old ruby version of Gitrob which I no longer support. Check out the latest version!

[2018-06-14 12:47] #135 closed

[2018-06-14 18:48] mriduam commented on #134
Hi Mathias,

Currently I am also running older ruby version of Gitrob and wants to scan my file content for hard coded user credentials. I have tried to inject all your content rules into my signature.json file but It is still not detecting any credentials in file for me.

Any suggestions on how it worked for you or what I am missing out? I will appreciate your help on this.
Thanks
Mishra

[2018-06-14 19:07] mriduam commented on #135
Hi,
So, does the new Go version supports file content inspection for secrets and passwords?
Thanks
Mishra

[2018-06-15 09:05] godwhoa commented on #131
Try running `dep ensure` inside `go/src/github.com/michenriksen/gitrob`
dep installation instructions [here](https://github.com/golang/dep).

[code]

[2018-06-15 09:28] jaikishantulswani commented on #131
Architecture i686 is not supported by this installation script

[2018-06-27 17:56] mriduam opened #136 "Does new version of Gitrob supports TLS when binding the server to new IP?"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2018-07-03 13:29] michenriksen commented on #136
TLS is not supported. You would need to put something like nginx in front of it if you want TLS.

[2018-07-03 13:29] #136 closed

[2018-07-05 11:52] michenriksen commented on #134
Thanks for the feedback! I see this as out of scope for the time being.

[2018-07-05 11:52] #134 closed

[2018-07-05 18:54] josephmilla opened #138 "Feature Request - Ability to white-list a finding either through a configuration file or the UI"
It would be great to have the ability to white-list a finding either through a configuration file or the UI.

[2018-07-05 18:57] josephmilla opened #139 "Feature Request - Go routines for serving and analysis"
Right now, there's only one process that does the analysis and serving of files sequentially. It would be great to have two separate go routines that:

1. Does periodic analysis given a specified time interval (every 1 minute, 5 minutes, etc.)
2. Serves up the analysis result and the corresponding UI

[2018-07-05 19:53] josephmilla opened #142 "Feature Request - Add --no-server feature"
Instead of serving up the files right after analysis, it would be great to have an option without the server feature.

[2018-07-06 10:52] menzow opened #143 "Feature request: Show commit date in column"
When using gitrob for reconnaissance it makes sense to look at recent commits first. Right now there's no way to see the date of a commit. For this I suggest to implement a additional column where you can see the **date** of the commit. In the modal view a extra field should be added where you can see the **date time** of the commit.

I could implement this and create a pull request if the feature

[2018-07-06 11:08] menzow commented on #143
To be complete the output should also be written to the terminal:

<img width="985" alt="screen shot 2018-07-06 at 18 06 49" src="https://user-images.githubusercontent.com/5744434/42375924-6e54768c-8147-11e8-9e7d-dc60dc85e195.png">

[2018-07-10 01:15] josephmilla opened #144 "Bug: Remove +2 on threads"
For VMs with just 2 logical CPUs, the code will run for 20 seconds and just die thereafter. It might be better to remove the +2 and just use the total number of logical number of CPUs.

[2018-07-12 19:02] 0xtavian opened #145 "Feature Request Enterprise Githubs"
Is there any plan to include enterprise githubs?

[2018-07-16 08:06] hanjian007 opened #146 "help"
_ __           __
  ___ _(_) /________  / /
 / _ `/ / __/ __/ _ \/ _ \
 \_, /_/\__/_/  \___/_.__/
/___/ by @michenriksen

gitrob v2.0.0-beta started at 2018-07-16T16:03:54+08:00
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
panic: sync: negative WaitGroup counter

goroutine 1 [running]:
sync.(*WaitGroup).Add(0xc42042b700, 0xffffffffffffffff)
	/usr/local

[2018-07-16 08:10] hanjian007 commented on #146
[root@localhost opt]# go version
go version go1.9.4 linux/amd64

[2018-07-27 07:36] sohailnajar opened #147 "Searching Delta"
Is there a way to search only deltas after the repo has been scanned once?

[2018-08-08 14:41] betobrandao commented on #76
@michenriksen, I have the same problem as @kevin-paloit .

My access_token has all the permissions needed for accessing the private repositories of my organization, but GitRob only access the public ones.

To make sure my access token works, I used it in a Python script using the [pygithub](https://github.com/PyGithub/PyGithub) library to access all my organization's repositories data and it works

[2018-08-08 17:54] nuritizra opened #148 "passing Github Enterprise with custom hostname"
Hi,

Is there an option to pass a Github Enterprise with a custom hostname?
I'm trying to run gitrob on my company ghe host.

Thanks,

Nurit.

[2018-08-08 20:04] frewsxcv commented on #1
It doesn't look like this is documented anymore – maybe it should be readded?

[2018-08-08 23:39] nickmalcolm commented on #132
Local repositories would be awesome - is there a way to manually do a workaround? If it clones a repository locally first, presumably there's something we can do?

[2018-08-10 06:41] muffix commented on #148
It's not possible at the moment. There's already a feature request in #145.

[2018-08-14 01:16] ajholland opened #150 "0 valid targets results in go panic"
## Checklist before filing an issue:

- [x ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.

## Expected Behavior
Providing 0 valid targets via the CLI results in a panic

## Actual Behavior
```panic: sync: negative WaitGroup counter```

## Steps to Reproduce the Problem

  1. `gitrob invalidTarget`

I have a branch ready that adds

[2018-08-14 13:30] jaredscottwilson commented on #150
Same issue

[2018-08-14 19:57] satssin opened #151 "not working with Internal Github"
We have internal github appliance, and this tool is not working with our github appliance.
Web interface available at http://127.0.0.1:9393
Gathering targets...
 Error retrieving information on git@******.mhe********.com:MHEducation/d******.git: GET https://api.github.com/users/git@******.mhe********.com:MHEducation/********.git: 401 Bad credentials []

[2018-08-14 22:13] micksmix opened #152 "gitrob doesn't read files in *initial* commit"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [X] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2018-08-20 23:46] ykosaraju commented on #146
happens on go 1.10.3 as well

[2018-08-24 03:52] omsai5467 commented on #119
Bro can u make how to bind APK

[2018-08-27 16:43] dcepler opened #154 "Add signature for codeship.aes"
*gitrob* does not detect `codeship.aes` files. `codeship.aes` contains projects-specific AES keys to encrypt/decrypt environment variables used in Codeship Pro. It should be added to `.gitignore` but might be missed.

https://documentation.codeship.com/pro/builds-and-configuration/environment-variables/#encrypted-environment-variables

## Expected Behavior
*gitrob* flag `codeship.aes` files.

## A

[2018-08-27 17:30] dcepler commented on #142
Need this functionality as well. Prefer having **gitrob** generate just the JSON session file that can be diff'd over time without spinning up its own web server to show results.

[2018-08-27 19:56] dcepler opened #157 "Feature Request - Add -include-forks feature"
Currently *gitrob* excludes scanning of repositories that are forked into an organization. This could be problematic as those that forked the repository might commit items into the fork that *gitrob* would normally identify.

Propose adding switch `-include-forks` that will toggle the behavior.

Code change should be simple by including the option and changing condition here:
https://github.com/mi

[2018-09-07 18:46] muffix commented on #145
This seems to be the oldest issue requesting GHE support (#148 is a duplicate), so I'd suggest to use this issue for discussion.

[2018-09-16 07:26] jdickey opened #160 "Blog and documentation site michenriksen.com no longer has a domain?"
Browsing http://www.michenriksen.com/ yields a 404, and `nslookup michenriksen.com` reports an `NXDOMAIN` (no such domain) error. Are the docs available elsewhere?

[2018-09-16 08:38] muffix commented on #160
I think there has never been much more than the [README](https://github.com/michenriksen/gitrob/blob/master/README.md) file.

[2018-09-24 10:37] payloadartist opened #161 "User Interface not working in Windows 10"
Solved...

[2018-10-11 12:12] amjamjamj opened #162 "i cant install gitrob with go version 10.4"
after the installation of go lang verion 10.4
go version
go version go1.10.4 linux/amd64

and issue the command:
go get github.com/michenriksen/gitrob
nothing happened :(

i'm using kali linux.

Thank you for any assistance.

[2018-10-11 12:43] amjamjamj commented on #162
sorry, i was able to figure it out. all good now and thank you for this awesome tool

[2018-10-11 13:15] #162 closed

[2018-10-13 14:15] wdahlenburg opened #163 "Scrape All Public Repositories"
### Scrape All public repositories

This is in addition to #159, however it would be beneficial as well to regular Github users.

I would like the ability to crawl through every public repository available. This will be a lengthy process, but the process can be automated. This is helpful in Github enterprise versions because the number of repositories will normally be much less than on github.com.

[2018-10-15 00:17] wdahlenburg opened #165 "Feature Request - Ability to Pause/Resume Scans"
It would be nice to be able to pause and resume scans at any point during the process. A button on the web page would be a simple solution.

It would be an added benefit if the session would save when the scan is paused.

This would be beneficial when analyzing a large numbers of repos.

[2018-10-21 03:46] derricksong opened #166 "-no-expand-orgs errors out"
## Expected Behavior
Pointed gitrob at my organization with -no-expand-orgs on, expected it not to error

## Actual Behavior
Looks like a Go exception

## Steps to Reproduce the Problem
$ ./gitrob -no-expand-orgs dadc-nms
        _ __           __
  ___ _(_) /________  / /
 / _ `/ / __/ __/ _ \/ _ \
 \_, /_/\__/_/  \___/_.__/
/___/ by @michenriksen

gitrob v2.0.0-beta started at 2018-10-20T20:42:3

[2018-10-29 12:48] michenriksen commented on #160
I forgot to renew my domain, but was luckily reserved by Gandi 😆

[2018-10-29 12:48] #160 closed

[2018-11-03 15:06] TheHmadQureshi opened #167 "Issue when running gitrob"
Hi,

I am facing this issue when running the program.

<img width="659" alt="screen shot 2018-11-03 at 8 05 00 pm" src="https://user-images.githubusercontent.com/9057459/47953776-dcb03980-dfa3-11e8-8588-7115d52c6108.png">

Any idea what might be causing this error?

Awaiting response.

Hammad

[2018-11-05 09:29] godwhoa commented on #167
gitrob isn't a python script it's an executable.
[code]

[2018-11-07 11:01] JackPoint commented on #145
Is it also possible to support custom full urls to a git repository? Then I can scan other git repositories like bitbucket or private git repository inside TFS

[2018-11-10 05:55] j3ssie opened #168 "panic: sync: negative WaitGroup counter"
## Expected Behavior
I just want to run gitrob for testing purpose.
I'm sure that I'm created new token with full permissons and ran
[code]
I also try couple different repo but still got same error.

## Actual Behavior
Raw log from my console with debug mode
[code]

## Specifications

  - Gitrob version: gitrob v2.0.0-beta
  - Operating system: Kali Linux lastest version
  - Go version: go version

[2018-11-12 21:11] chrisfishwood commented on #168
Hi @j3ssie

I hit a similar issue. Turns out I was running `gitrob` incorrectly as I was trying to run it against a specific repo and not the organization or user.

`./gitrob https://github.com/j3ssie/Osmedeus` will fail with the error you pointed out (note the `404`), but `./gitrob j3ssie` works just fine and will pull all repos for your user.

Hope that helps.

[2018-12-17 22:30] itachi73 commented on #107
@Splint3r7  I have the same issue, have you found any solution ?

[2018-12-18 14:57] igorljubuncic opened #171 "Add support for building snaps"
As per your instructions, before I open a PR, I'd like to request support for snaps.

Snaps are cross-distro Linux software packages, supported on LTS and non-LTS Ubuntu, as well as Debian, Manjaro, Fedora, OpenSUSE, Arch, and many others distributions. Making a snap of gitrob will enable you to provide automatic updates on your schedule to your users via the Snap Store (snapcraft.io/store). The s

[2018-12-21 10:17] jbspeakr commented on #145
any update on this one? would love to scan my GHE orgs.

[2018-12-21 11:34] muffix commented on #145
@jbspeakr You can give it a shot with the code from #159. if you have a Go build environment handy.

[2019-01-15 19:09] alexander-medved opened #172 "Feature Request - Ability to exclude some repositories from report"
Thank you for an awesome and very useful project.

But I believe as the feature that let us exclude some repositories will be very useful and helps stay more informed without unnecessary attention for the repositories that we have as a demo.

Thank you!

[2019-01-19 08:15] NaNdaWteK commented on #100
I have a similar problem to, if I run the migrations with a postgres connection it works.
But when I start the app with rake, sequel use the 127.168.1.1 ip to connect with the database instead of 127.0.0.1 that works fine. I intent force the host but at this moment I cannot.
The trace is this

``rerun --background -- rackup --port 4567 -o 0.0.0.0

09:11:55 [rerun] Libreria launched
09:11:55 [rerun

[2019-02-04 07:20] leroywomack opened #175 "error during using it"
gitrob v2.0.0-beta started at 2019-02-04T09:16:25+02:00
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
panic: sync: negative WaitGroup counter

goroutine 1 [running]:
sync.(*WaitGroup).Add(0xc42022b090, 0xffffffffffffffff)
	/usr/local/go/src/sync/waitgroup.go:73 +0x133
main.AnalyzeRepositories(0xc42013c800)
	/Users/michael/go/src/github.com/michenriksen/

[2019-02-11 15:06] znb commented on #145
Bump for this feature 😄

[2019-02-23 06:22] VikzSharma opened #176 "panic: sync: negative WaitGroup counter"
success@success-X555LD:~/Desktop/BugBounty/tools/GithubCloner/$ gitrob org-name
        _ __           __
  ___ _(_) /________  / /
 / _ `/ / __/ __/ _ \/ _ \
 \_, /_/\__/_/  \___/_.__/
/___/ by @michenriksen

gitrob v2.0.0-beta started at 2019-02-23T11:50:56+05:30
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
panic: sync: negative WaitGroup counter

go

[2019-03-14 18:08] iamwilhelm opened #178 "Checksum for precompiled 2.0.0-beta doesn't match"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2019-03-18 08:37] ali0818 commented on #175
Check if you are scanning a repo url or username.
Try with only user/organistaion
EX: gitrob github

[2019-03-18 08:38] ali0818 commented on #176
Check if you are scanning a repo URL or username.
Try with only user/organization
EX: gitrob github

[2019-03-25 08:09] VikzSharma commented on #176
Did the same , for some repos it doesn't throw error & for some it throws the above error.

[2019-04-23 19:01] spastichaawk commented on #176
Try capitalizing the organization — that worked for me.

[2019-05-02 15:53] rayterrill commented on #142
Def would love this - want to add to an automated CI process.

[2019-05-10 18:44] dzhenway commented on #161
me too
after clicking gitrob.exe
just pop up for a while then nothing happened

[2019-07-14 19:05] soupnatzi opened #179 "proxy dial issue"
while trying to run git rob i am getting this issue

# gopkg.in/src-d/go-git.v4/plumbing/transport/ssh
../../../gopkg.in/src-d/go-git.v4/plumbing/transport/ssh/common.go:147:15: undefined: proxy.Dial

am trying to figure out what is the issue here

[2019-07-16 12:20] jarvis-parker opened #180 "just a few questions and a suggestion"
1. How can I run gitrob on a particular Github repository only
2. How to run gitrob against other git platforms (e.g. GitLab)
3. Can I remotely feed a cloned repository to gitrob ??
Answer to 3 might solve the other two if there is one.
Also, this is a suggestion, to add the support for remotely adding repository which is preset in the system storage

[2019-07-22 15:45] newpIDC opened #181 "Feature Request: searches"
Why not allow users to perform a keyword search against the api then iterate through each of the results

[2019-07-25 17:52] m0nk3y-s3c commented on #179
same here.

[2019-07-26 16:49] soupnatzi commented on #179
@m0nk3y-s3c  by downloading the precompiled version i was able to run gitrob here is there link
https://github.com/michenriksen/gitrob/releases

[2019-07-31 10:33] digininja commented on #179
Your problem is that your golang.org/x/net/proxy package is out of date. To fix it:

[code]

You should then see some updates happen and then things should work.

[2019-07-31 15:07] soupnatzi commented on #179
thanks @digininja this fixed the issue.

[2019-07-31 15:14] digininja commented on #179
If you want to make sure everything else is up to date:

[code]

You don't need the -v but it adds verbose so you can see it is actually doing things otherwise it just sits for a long time and you don't know if it is working or hung.

[2019-08-19 11:15] SaurabhDev opened #182 "I only need to scan single repo or selected"
I want to only scan the selected repo not all the repo of my account, how can I do it

[2019-08-20 07:21] SaurabhDev opened #183 "Where it clones"
Hey Michenriksen,

I have read that it clones the repo somewhere for analyzing but I haven't found the path.

Please confirm where it clone the git repo for analyzing

[2019-08-26 16:12] prosecurity opened #184 "Gitrob finishes with findings but doesnt show results"
well problem i am facing is that when gitrob finishes its scan. it says it found repositories and files and co but when the scan is done and i want to go through the findings nothing is responsive

[2019-08-29 10:44] dzhenway opened #185 "panic: sync: negative WaitGroup counter"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [Y ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [N] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [N] Have an

[2019-08-29 10:46] dzhenway commented on #184
same with me
i got this problem :)

[2019-09-12 04:23] ranjithprethan opened #186 "Build Error for Enterprise Gitrob"
Hi , I get the build error while building the enterprise version of gitrob.
https://github.com/muffix/gitrob/tree/github-enterprise
gitrob-github-enterprise # ./build.sh
Appreciate if you provide any assistance (I have the updated version of golang)

[*] Building linux/amd64 ...
# _/root/Downloads/gitrob-github-enterprise
../main.go:106:20: sess.GithubURL undefined (type *core.Session has no field

[2019-09-26 10:56] degilq commented on #176
hi we have same problem:

[root@sectools bot]# gitrob sodimac
        _ __           __
  ___ _(_) /________  / /
 / _ `/ / __/ __/ _ \/ _ \
 \_, /_/\__/_/  \___/_.__/
/___/ by @michenriksen

gitrob v2.0.0-beta started at 2019-09-26T07:52:50-03:00
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
panic: sync: negative WaitGroup counter

goroutine 1 [running

[2019-10-02 17:01] da-edra opened #187 "Gitrob is not using go modules."
## Expected Behavior
gitrob should use go modules to install dependencies.

## Actual Behavior
gitrob does not have go.mod nor go.sum to install dependencies using modules.

## Specifications

  - Gitrob version: 2.0.0-beta
  - Operating system: Arch Linux
  - Go version: 1.13

[2019-10-09 03:11] thr0cyte commented on #185
my arch also have this question

[2019-10-22 01:05] susheel264 commented on #125
Me to having the same issue.

[2019-11-08 00:10] stevegore commented on #179
For those using go modules, add the below to the bottom of your `go.mod` and run `go mod tidy`

[code]

It will then be changed to something like:

[code]

[2019-12-03 12:39] melardev opened #189 "Missing tokens"
Hi, your tools are awesome, but, I think there are important things missing, the easy one:
- The token keyword is not treated as relevant. so any slack or AWS token would be ignored.
- Entropy: there are no high entropy checks.

## Steps to Reproduce the Problem
Take any user with a repository containing the token keyword, it will not be ignored. The same for high entropy values.

Would you mind t

[2019-12-07 15:33] jurelou commented on #142
I found a workaround to stop the webserver automatically (requires expect):
[code]

You can pass parameters to the script as you would do with gitrob

[2019-12-08 06:30] rayterrill commented on #142
I forked this repo and added this ability with a new command-line switch "noweb", as well as the ability to pull code from private org repos (@betobrandao wrote the majority of that, just adapted it a bit). https://github.com/PortOfPortland/gitrob for anyone who'd like to check it out.

[2020-01-15 14:22] tuctboh commented on #151
➕ 1

[2020-01-21 02:36] dzxindex opened #190 "error during using go get : cannot use repo.ID (type *intint in field value"
## Expected Behavior
hello，i use # go get github.com/michenriksen/gitrob
should use go get  to install dependencies.

## Actual Behavior

but it erro when i use go get
../../pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:43:5: cannot use user.ID (type *int6nt in field value
../../pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:73:11: c

[2020-02-15 11:19] ceylanb commented on #185
+1

[2020-02-20 03:04] RASSec commented on #190
same problem

[2020-02-23 07:21] kirtiso opened #191 "error using gitrob"
root@kali:~/go/src/github.com/michenriksen/gitrob$ go run main.go -github-access-token token vale google.com
        _ __           __
  ___ _(_) /________  / /
 / _ `/ / __/ __/ _ \/ _ \
 \_, /_/\__/_/  \___/_.__/
/___/ by @michenriksen

gitrob v2.0.0-beta started at 2020-02-23T02:14:58-05:00
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
 Error retriev

[2020-02-25 12:09] intruderketo opened #192 "Error when starting web server: listen tcp 127.0.0.1:9393: bind: address already in use"
gitrob -no-expand-orgs paypal
        _ __           __
  ___ _(_) /________  / /
 / _ `/ / __/ __/ _ \/ _ \
 \_, /_/\__/_/  \___/_.__/
/___/ by @michenriksen

gitrob v2.0.0-beta started at 2020-02-25T07:07:36-05:00
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
Error when starting web server: listen tcp 127.0.0.1:9393: bind: address already in use

What

[2020-03-30 20:32] codeEmitter opened #193 "Support GitLab.com repositories, add content searching, improve performance by cloning to memory, add docker support"
Hi @michenriksen.  The GitLab Red Team has made some feature enhancement to gitrob you may or may not be interested in:

- Support for GitLab users and groups
- Support for multiple modes of execution including content search
    - Mode 1 - Default mode to match on [file signatures](./filesignatures.json)
    - Mode 2 - Match on [file signatures](./filesignatures.json) then [content signatures](./

[2020-04-08 08:24] shadihh9 opened #195 "i have problem"
*] Starting Gitrob version 1.1.2 at 2020-04-08 04:23 EDT
[*] Loading configuration... done
[*] Preparing database... failed
[!] Sequel::DatabaseConnectionError: PG::ConnectionBad: could not connect to server: Connection refused
        Is the server running on host "localhost" (::1) and accepting
        TCP/IP connections on port 5432?
could not connect to server: Connection refused
        Is th

[2020-04-14 20:39] akmaljonsadikov commented on #103
anyone?

[2020-05-12 00:59] harsh-kk opened #196 "error in installing"
![gitrob_error](https://user-images.githubusercontent.com/51978908/81626622-de20b480-9419-11ea-9aaf-a65093164911.png)
 how this can be fixed.

[2020-05-13 15:48] opm623 commented on #196
I too am getting this same problem

[2020-05-14 21:06] danquinn2121 commented on #180
I too need the ability to target a specific repository owned by my organization (not an individual user)

[2020-05-17 08:06] spekulatius opened #197 "error on building: src/github.com/gin-gonic/gin/context.go:80:11: undefined: http.SameSite"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2020-05-18 03:51] mattyjones opened #198 "[RFC] Thoughts on maintaining this project."
I have reached out via Twitter and email several times over the last 6 months to @michenriksen with no response. I am looking to gauge the interest of those that use this with helping to maintain it. I have been using this for about 2 years now and forked it long ago for a separate project adding support for Github Enterprise, Gitlab CE, and Enterprise as well. I have some very rough code for usin

[2020-05-18 19:08] HollywoodMarks commented on #197
SameSite requires Go 1.11
This is because it sets the SameSite attribute on the session cookie for additional security, but that attribute is only supported in 1.11 onwards.
https://github.com/alexedwards/scs/issues/60

[2020-05-18 20:09] spekulatius commented on #197
Ah, thanks for pointing me in the right direction @HollywoodMarks. Now I'm running into the next error:

[code]

[2020-05-19 15:38] mattyjones commented on #198
I am using this ]fork](https://github.com/mattyjones/gitrob) and have merged in the following pull requests:

- [X] 140 @josephmilla
- [ ] 141 @josephmilla
- [X] 149 @betobrandao
- [X] 153 @micksmix
- [X] 155 @dcepler
- [X] 156 @dcepler
- [X] 158 @dcepler
- [X] 159 @muffix
- [ ] 164 @wdahlenburg
- [X] 177 @plasticuproject
- [X] 188 @da-edra
- [ ] 194 @codeEmitter
- [ ] 199 @HollywoodMarks

I am ha

[2020-05-20 03:08] mattyjones commented on #198
I am starting to triage issues now and will track the list of current issues here. If possible please open all new issues in this [fork](https://github.com/mattyjones/gitrob). Thanks!

- [ ] #197 @spekulatius
- [ ] #196 @harsh-kk
- [ ] #195 @shadihh9
- [ ] #193 @codeEmitter
- [ ] #192 @intruderketo
- [ ] #191 @kirtiso
- [ ] #190 @dzxindex
- [ ] #189 @melardev
- [ ] #187 @da-edra
- [ ] #186 @ranjit

[2020-05-20 03:17] mattyjones commented on #197
@spekulatius I am not sure where that is coming from. Are you getting that error on building or on running it? I am not seeing that issue in the latest build of my [fork](https://github.com/mattyjones/gitrob). You can try building that using the script. I am building and running on OSX. I can test on a Windows10 or Linux box if needed.

[2020-05-20 03:53] mattyjones commented on #196
This is the same issue as #197 and that should be used for tracking this issue
@opm623 @har

[2020-05-20 03:55] mattyjones commented on #195
@shadihh9 Can you give more details on what you were trying to do and also can you try updating your binary to the latest version?

Thanks!

[2020-05-20 03:58] mattyjones commented on #192
@intruderketo  Check to see what else is running? Do you have another web server or process running on that port? Typically this means something else is running on the port and you can't bind a second process to it.

[2020-05-20 04:01] mattyjones commented on #191
This is due to no credentials or the wrong credentials being entered. The error message is poor as it points to not having anything to scan. If you look on the line after **Gathering Targets** you will see **401**. This means bad credentials, and you also see **[]** to show nothing was entered. There is a note to fix this and give a better message if this runs with no credentials.

[2020-05-20 04:05] mattyjones commented on #190
@RASSec @dzxindex Can you pull the [fork](https://github.com/mattyjones/gitrob) and try to use that. If the error still persists can you open a pr in the fork please with any additional info and details you have such as go version, OS, and anything else you can think of. That fork is the bleeding edge of this project so be careful not to cut yourself ;)

[2020-05-20 04:07] mattyjones commented on #189
@melardev These can be added as specific feature requests. You are welcome to make a pull requests against this [fork](https://github.com/mattyjones/gitrob) if you would like.

[2020-05-20 04:09] mattyjones commented on #187
@da-edra This is merged and now closed

[2020-05-20 04:19] mattyjones commented on #186
@ranjithprethan Can you please pull this [fork](https://github.com/mattyjones/gitrob) and try again. If the error still persists then please open an issue in that repo and I will look into it. I believe this is fixed and was due to the codebase being in different states due to the way it was laid out.

[2020-05-20 04:22] mattyjones commented on #185
@ceylanb @thr0cyte @dzhenway This is due to no or a wrong auth token. The error message is poor and misleading and leads to the fact that there are no targets. If you turn on debug you should be able to see you are getting a 401 which points to bad auth. Can you pull this [fork](https://github.com/mattyjones/gitrob) and try again. If the issue still persists then can you please open an issue in th

[2020-05-20 04:41] mattyjones commented on #184
@prosecurity @dzhenway Could you provide any further details such as screenshots or additional comments. What do you mean by *nothing is responsive* are you using the web interface or the commandline interface? I can't replicate this. Can you try with the latest release of this [fork](https://github.com/mattyjones/gitrob).
<img width="1260" alt="Screen Shot 2020-05-20 at 12 39 53 AM" src="https://

[2020-05-20 04:45] mattyjones commented on #183
@SaurabhDev it clones them to a dynamic temp directory and then cleans up when it is done. In the case of OSX it goes to */var/...*

[2020-05-20 04:46] mattyjones commented on #182
@SaurabhDev You cannot at this time. Feel free to. open a feature request or pull request in this [fork](https://github.com/mattyjones/gitrob).
Thanks!

[2020-05-20 04:50] mattyjones commented on #181
@newpIDC Can you more specific as to the functionality you are looking for. What do you mean by keyword, and what api call are you talking about. Gitrob is not using the api directly it is using a library that wraps specific parts, mostly all, of the api. What you are talking about may not be possible from a technical perspective but I have not looked deep enough into this as I have not required t

[2020-05-20 04:52] mattyjones commented on #180
@jarvis-parker @danquinn2121 None of these features are currently implemented but they are on the roadmap with no given priority or timeframe yet. If you would like to open feature requests for each of these in this [fork](https://github.com/mattyjones/gitrob) they can be looked at in further detail and scoped appropriately.

Thanks!

[2020-05-20 04:55] mattyjones commented on #178
@iamwilhelm Can you please pull the latest from the [fork](https://github.com/mattyjones/gitrob) and give it another try. If they still don't match please open an issue in the fork and this can be looked at in further detail.

Thanks!

[2020-05-20 04:58] mattyjones commented on #176
@degilq @spastichaawk @VikzSharma This is due to no credentials or the wrong credentials being entered. The error message is poor as it points to not having anything to scan. If you turn on debug and look on the line after Gathering Targets you will see 401. This means bad credentials, and you also see [] to show nothing was entered. There is a note to fix this and give a better message if this ru

[2020-05-20 13:41] mattyjones commented on #179
@digininja @stevegore @soupnatzi @m0nk3y-s3c Could you please try the latest version of the [fork](https://github.com/mattyjones/gitrob). If you are still running into an issue then please open an issue in that repo and we can look into this further.

Thanks!

[2020-05-20 22:14] karbassi commented on #191
I believe you mean to tag @kirtiso, not me :)

[2020-05-22 01:41] mattyjones commented on #191
@kirtiso This has been moved to the new repo mattyjones/gitrob#7

[2020-05-22 01:43] mattyjones commented on #189
@melardev This has been moved to mattyjones/gitrob#10

[2020-05-22 01:46] mattyjones commented on #180
@jarvis-parker @danquinn2121 these have been moved to the fork. mattyjones/gitrob#8 and mattyjones/gitrob#9

[2020-05-22 02:06] sabeesh03 commented on #197
MACBOOK1:gitrob INDIRA$ ./build.sh
[*] Building linux/amd64 ...
# github.com/michenriksen/gitrob/core
../../../../../../Desktop/GO/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal
[*] Building darwin/amd64 ...
# github.com/michenriksen/gitrob/core
../../../../../../Desktop/GO/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values i

[2020-05-22 02:19] sabeesh03 commented on #197
go get github.com/michenriksen/gitrob
# github.com/michenriksen/gitrob/core
../Desktop/GO/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

[2020-05-22 03:09] mattyjones commented on #197
@sabeesh03 Can you please pull from the updated [repo](https://github.com/mattyjones/gitrob) and confirm the issue still exists. I cannot replicate this and the code in this repo has diverged quite a bit from my fork at this point as this repo is not maintained. As I explained in #198 I am going to assume maintainership of this project in the above repo and continue to develop it.

[2020-05-22 07:37] spekulatius commented on #197
Hey @mattyjones

thanks for picking the project up and continuing it! I've just pulled your repo and run `./build.sh`. It failed with these messages:

![image](https://user-images.githubusercontent.com/8433587/82643484-a0453c80-9c20-11ea-89a3-6796ea26dc98.png)

Peter

[2020-05-22 14:18] mattyjones commented on #197
@spekulatius yea...type assertion goodness. I will look into it and poke here if/when I can nail it down.

[2020-05-22 14:53] mattyjones commented on #197
@spekulatius This should be fixed now, I missed a step in the brain transplant where it was looking for the original project and not the new fork. One of the pr's fixed another bug in the type assertion that was not fixed in the original project. The code still and always will reflect the original project but all previous libraries, pointer, packages, etc are now the latest versions and only pulli

[2020-05-22 16:20] spekulatius commented on #197
Yay, awesome. I've pull it and it run through without any issues. Thank you @mattyjones!

I'll close this to clean up the issues.

[2020-05-22 16:20] #197 closed

[2020-05-23 02:18] mattyjones commented on #175
@ali0818 @leroywomack This is due to no github token being present or an expired one. If you turn on debugging you will see a 401 http error. Please pull from this [fork](https://github.com/mattyjones/gitrob) as this project is no longer maintained and I will be taking it over.

[2020-05-23 02:22] mattyjones commented on #172
@mixua This has been moved to the [fork](https://github.com/mattyjones/gitrob) as this repo is no longer maintained. Please feel free to comment on mattyjones/gitrob#12

[2020-05-23 02:25] mattyjones commented on #171
@igorljubuncic This is already a feature request in the [fork](https://github.com/mattyjones/gitrob) of the project, mattyjones/gitrob#3. Please feel free to comment there as this project is no longer maintained and I am assuming maintainership.

Thanks!

[2020-05-23 02:35] mattyjones commented on #130
@ScatteredThoughts I have moved this to new [fork](https://github.com/mattyjones/gitrob) of the project as this one is no longer maintained. mattyjones/gitrob#13

[2020-05-23 02:45] mattyjones commented on #166
@derricksong This was a known bug caused by no token or an invalid one. There is an open issue for it at mattyjones/gitrob#7 as this project is no longer maintained.

[2020-05-23 02:48] mattyjones commented on #165
@wdahlenburg This has been migrated to the new [fork](https://github.com/mattyjones/gitrob) as this is no longer maintained. mattyjones/gitrob#15

[2020-05-23 02:49] mattyjones commented on #163
@wdahlenburg This has been merged into the new [fork](https://github.com/mattyjones/gitrob) but is as of yet unconfirmed. Thanks a ton for this!

[2020-05-23 02:52] mattyjones commented on #161
@dzhenway @payloadartist I am migrating this to the new [fork](https://github.com/mattyjones/gitrob) as this project is no longer maintained. mattyjones/gitrob#16 Please update that bug with any additional info.

[2020-05-23 02:53] mattyjones commented on #157
@dcepler This has been merged into the new [fork](https://github.com/mattyjones/gitrob)

[2020-05-23 02:54] mattyjones commented on #154
@dcepler  This has been merged into the new [fork](https://github.com/mattyjones/gitrob)

[2020-05-23 02:55] mattyjones commented on #152
@micksmix This has been moved into the new [fork](https://github.com/mattyjones/gitrob). Long live Grover!

[2020-05-23 02:57] mattyjones commented on #150
@ajholland @jamesearl Can you please pull the latest master at the new [fork](https://github.com/mattyjones/gitrob) and confirm the issue. If so can you please file a bug report in that repo as this one is no longer maintained. Thanks!

[2020-05-23 03:02] mattyjones commented on #148
@muffix @nuritizra This has been merged in the new [fork](https://github.com/mattyjones/gitrob) as this is no longer maintained.

[2020-05-23 03:04] mattyjones commented on #147
@sohailnajar This has been moved to the new [fork](https://github.com/mattyjones/gitrob) as this project is no longer maintained.

[2020-05-23 03:07] mattyjones commented on #130
@ScatteredThoughts I have moved this to new [fork](https://github.com/mattyjones/gitrob) of the project as this one is no longer maintained. mattyjones/gitrob#13

[2020-05-23 03:14] mattyjones commented on #151
This is the api not getting the right credentials or the github token flag not be used. @satssin Can you please confirm the token is valid and you are using the github token or env variable to pass it it. This is no longer maintained do all work has been moved to this [fork](https://github.com/mattyjones/gitrob) Please feel free to open up any issues or bugs there from now on. Thanks!

[2020-05-23 03:18] mattyjones commented on #146
@derricksong @ykosaraju @hanjian007 Can you please pull the latest master from this [fork](https://github.com/mattyjones/gitrob) and confirm if the issue still exists when the correct token is passed in either by env variable or the flag. This project is no longer maintained so any further issues or bugs should be opened up in that new fork. Thanks!

[2020-05-23 03:20] mattyjones commented on #145
@0xtavian @jbspeakr @muffix @JackPoint This has been merged into the new [fork](https://github.com/mattyjones/gitrob) but it yet fully tested. Please comment further or open new issues and bugs in that fork as this one is unmaintained.

[2020-05-23 03:24] mattyjones commented on #143
@menzow This has been moved to the new [fork](https://github.com/mattyjones/gitrob) as this project is no longer maintained. Please open up and additional comments or bugs in that repo. Thanks!

[2020-05-23 03:26] mattyjones commented on #142
@rayterrill @jurelou @dcepler @josephmilla This has been merged into the new [fork](https://github.com/mattyjones/gitrob) as this one is no longer maintained. Please open up any additional issues or bugs in that repo. Thanks!

[2020-05-23 03:33] mattyjones commented on #139
@josephmilla This has been moved to the new [fork](https://github.com/mattyjones/gitrob)

[2020-05-23 03:33] mattyjones commented on #138
@josephmilla This has been moved to the new [fork](https://github.com/mattyjones/gitrob)

[2020-05-23 03:34] mattyjones commented on #133
@bugbaba This has been moved to the new [fork](https://github.com/mattyjones/gitrob) as this project is no longer maintained. Please feel free to comment on or open bugs in that repo. Thanks!

[2020-05-23 03:36] mattyjones commented on #132
@nickmalcolm @skim-milk This has been moved to the new [fork](https://github.com/mattyjones/gitrob) as this project is no longer maintained. Please feel free to open up requests or bugs in that repo going forward. Thanks!

[2020-05-23 03:39] mattyjones commented on #131
@godwhoa @jaikishantulswani This has been fixed in the new [fork](https://github.com/mattyjones/gitrob) of the project as this project is no longer maintained. Please open any new comments or bugs in that repo going forward. Thanks!

[2020-05-23 03:44] mattyjones commented on #198
I am now closing out this issue and tracking everything in the new fork. All pull requests with the exception of one have been merged. All open issues have been triaged and either moved or closed. One door shuts, and a new one opens.

[2020-05-23 06:19] gergelypolonkai commented on #132
@mattyjones could you link the corresponding issue? I can’t find it on the issue board.

[2020-05-23 10:29] codeEmitter commented on #198
Hey thanks for reaching out.  I’ve recently been in contact with the original maintainer through a friend. Would you be willing to give him a little more time to look things over please?

Given the nature of the refactorings I needed to do to add the features I did, my PR will most likely not merge cleanly on your fork.  It was the perfect stepping off point for what we needed to accomplish for on

[2020-05-23 12:39] mattyjones commented on #198
@codeEmitter I am happy to sync with you and @michenriksen as well as figure out a path forward for all of this. If your code has diverged I am happy to roll my sleeves and help to get it cleanly merged as GitLab support was something I didn't even implement.

My reasoning for hard forking this was along the same lines as yours. I built a tool based on this that I am not able to share in its curre

[2020-05-23 18:54] jamesearl commented on #150
@mattyjones Not sure why you mentioned me on this ticket, I'm not a maintainer of this repo.

[2020-05-24 00:46] mattyjones commented on #132
@gergelypolonkai mattyjones/gitrob#22

[2020-05-24 01:08] mattyjones commented on #198
@codeEmitter @michenriksen Now that I had some non-keyboard time to think about this, here are my current thoughts on the matter. Full disclosure there several people on my team that also use our fork of gitrob and miss the features we implemented and want to recreate them. We tried to get our employer to maintain my fork officially but they gave it a pass so I, being the lead dev, got the ok to h

[2020-05-24 02:45] mattyjones commented on #198
@codeEmitter I took a look at the repo you linked me and your team has some damn good code and ideas in there. A lot of it is not where I see my needs focused but the features and direction are great! I honestly don't think it would be hard to do a transplant if we sat down over time and looked at it from an engineering standpoint and carved out the code.

One of the big things I am looking at is

[2020-05-26 19:50] payloadartist commented on #161
I think building from source is a better option. Able to get the server up & running, and access the UI, after building from source.

[2020-05-26 19:50] #161 closed

[2020-05-28 14:48] digininja commented on #179
I'm already up to date with all my repos so it wouldn't be easy to roll back stuff to test it.

If you don't get anywhere with testing, let me know and I'll sort something out.

[2020-06-01 11:36] nidhisi opened #201 "hi team,"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2020-06-04 13:56] Abdulrahman-Kamel opened #202 "error when install -> too few values in &assetfs.AssetFS literal"
when i am install gitrob by [ go get github.com/michenriksen/gitrob ] get this error
i am try to uninstall golang but not solved and try install in ununtu and kali but still this problem

![1](https://user-images.githubusercontent.com/49864433/83765834-83513600-a630-11ea-9e91-4ec3c5ee8a3e.png)

[2020-06-08 13:59] mihir9455 commented on #100
how to save it after editing?

[2020-06-11 15:26] machinexa2 commented on #202
SAME PROBLEM

[2020-06-11 15:27] machinexa2 commented on #202
SAME PROBLEM HERE !_---------------------------------------------------------------------

[2020-06-11 15:27] machinexa2 commented on #202
# github.com/michenriksen/gitrob/core
gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

[2020-06-17 15:39] GoodGas opened #203 "[*] Preparing database... failed"
hi!

gitrob configure

[*] Preparing database... failed
[!] NameError: undefined method `new' for class `#<Class:BigDecimal>'

[2020-06-20 08:11] Jase-NZ commented on #203
Yup same problem here as well.

[2020-06-20 08:35] Jase-NZ commented on #202
Same here latest kali linux

[2020-06-25 20:15] Ahsan-x commented on #202
export GO111MODULE="on" then retry it will fix the issue

[2020-06-26 14:52] davidcreus commented on #129
Same error.

# github.com/michenriksen/gitrob/core
/home/davidcreus/bin/pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:43:5: cannot use user.ID (type *int64) as type *int in field value
/home/davidcreus/bin/pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:73:11: cannot use repo.ID (type *int64) as type *int in field value
/home/davidcre

[2020-06-26 14:59] davidcreus commented on #190
Solution:

package core

import (
  "context"

  "github.com/google/go-github/github"
)

type GithubOwner struct {
  Login     *string
  ID        *int64
  Type      *string
  Name      *string
  AvatarURL *string
  URL       *string
  Company   *string
  Blog      *string
  Location  *string
  Email     *string
  Bio       *string
}

type GithubRepository struct {
  Owner         *string
  ID

[2020-06-27 04:23] oghenejivwe opened #204 "ERROR 404"
I keep getting an error 404 for any github repository i try to scan

Error retrieving information on github.com/paragonie/paseto: GET https://api.github.com/users/github.com/paragonie/paseto: 404 Not Found []
panic: sync: negative WaitGroup counter

goroutine 1 [running]:
sync.(*WaitGroup).Add(0xc00027e1b0, 0xffffffffffffffff)
	/usr/local/go/src/sync/waitgroup.go:74 +0x137
main.GatherRepositories(

[2020-06-30 15:09] fuomag9 commented on #202
I get
[code]

After doing the command

[2020-06-30 15:11] Ahsan-x commented on #202
It is dead project you can use https://github.com/mattyjones/gitrob this project gitrob it is updated one

[2020-06-30 15:13] fuomag9 commented on #202
Thank you, I just noticed that the link in the readme is for the wrong repo

[2020-07-01 23:46] sentago commented on #129
Hey, i'm getting the below errors:

root@kali:~# go get github.com/michenriksen/gitrob
# runtime/internal/atomic
/usr/local/go/src/runtime/internal/atomic/atomic_amd64x.go:13:6: Load redeclared in this block
	previous declaration at /usr/local/go/src/runtime/internal/atomic/atomic_amd64.go:16:24
/usr/local/go/src/runtime/internal/atomic/atomic_amd64x.go:19:6: Loadp redeclared in this block
	previo

[2020-07-02 11:16] kherwata commented on #204
i got the same error

[2020-07-08 21:46] pankajninjasec commented on #129
# github.com/michenriksen/gitrob/core
go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

I am getting this error .

[2020-07-13 15:54] dirtcrosser commented on #129
I got the same error. how to fix this issue?

[2020-07-16 14:54] a55afbfa55a commented on #202
And make sure you are running on go version 1.14 (1.11 didn't work for me)

[2020-07-21 07:43] rameshkumar-rk commented on #129
github.com/michenriksen/gitrob/core
/usr/local/go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

Errors Errors Errors Errors

[2020-07-21 07:45] rameshkumar-rk opened #205 "Error"
# github.com/michenriksen/gitrob/core
/usr/local/go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

[2020-07-22 12:45] yunxinghuan commented on #203
Me too. How can it be solved？？

[2020-07-24 15:26] dawphy commented on #12
Hi Mike, I was checking the current gitrob and it has an option to pass multiple users and organizations. Thanks for the update. I also have a couple of questions. 1) Can we target and scan specific repository under a user like "gitrob  target url https://github.com/dawphy/TechTech"  ? . Under user dawphy, there might be multiple repositories and but if we want to scan specific ones.  2) Does the

[2020-07-26 21:25] sargarpramod430 opened #206 "Problem occur while installing the tool"
# github.com/michenriksen/gitrob/core
go-workspace/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

[2020-07-26 21:30] sargarpramod430 commented on #202
Thanks man

[2020-07-29 13:01] AirSmasher commented on #129
github.com/michenriksen/gitrob/core
# github.com/michenriksen/gitrob/core
go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal
I have the same error too.
please , help

[2020-07-29 22:23] Toppprongyos commented on #202
How do you did that? Could you describe or write down the commands?

[2020-07-30 06:31] Ahsan-x commented on #202
export GO111MODULE="on"
paste this in the terminal
After that
go get https://github.com/mattyjones/gitrob

[2020-07-30 07:07] nirajdhalani commented on #129
go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal
i also get same error how to fix this please replay

[2020-07-30 15:54] Toppprongyos commented on #202
THX!!

[2020-07-30 22:07] 1UC1F3R616 commented on #206
@sargarpramod430 i too having the same problem
- os: windows 10

[2020-08-03 16:40] ivasugarg opened #207 "NOT ABLE TO INSTALL!"
$go get github.com/michenriksen/gitrob

# github.com/michenriksen/gitrob/core
../go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in &assetfs.AssetFS literal

[2020-08-06 06:12] BrunoJu commented on #129
I got same issue exactly.
`go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal`
Can anyone fix that?  It's too hard to install this gitrob repository, almost drive me mad.

[2020-08-14 07:07] cybervizay opened #208 "Is this project not maintained?"
Hi,

I see the last commit was in 2018, and few open pull requests as well. Is this project not being maintained?

[2020-08-15 02:06] 0nk4r commented on #206
same problem @michenriksen please help

[2020-08-16 03:04] 1UC1F3R616 commented on #206
@0nk4r I had to set some go variable first and then use this command.
It may be somewhere in docs if you read that.
It was something like GO=111
And you have to enter it in your terminal just like the command.
Hope this helps you.

[2020-08-25 02:07] mattyjones commented on #208
It is still very much a beta project and there are some know bugs with the web interface that will be fixed shortly but [wraith](https://github.com/N0MoreSecr3ts/wraith) is a hard fork of gitrob. The gitlab redteam had a fork of this that they added features to and fixed bugs on. I also had a fork of this from an internal project at my work. I, in conjunction with several others combined both proj

[2020-08-25 02:10] mattyjones commented on #198
It is still very much a beta project and there are some know bugs with the web interface that will be fixed shortly but wraith is functional and stable at last. The gitlab redteam had a fork of gitrob that they added features to and fixed bugs on. I also had a fork of this from an internal project at my work. I, in conjunction with @codeEmitter combined both projects into a new project, [wraith](h

[2020-08-25 06:47] cybervizay commented on #208
Thanks @mattyjones

[2020-09-02 13:49] saikiran7022 opened #209 "unable to install with go 1.14"
go get github.com/michenriksen/gitrob

output:-
# github.com/michenriksen/gitrob/core
../src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal

[2020-09-02 13:51] #209 closed

[2020-09-02 13:51] saikiran7022 commented on #209
export GO111MODULE="on" solved the issue

[2020-09-02 13:53] saikiran7022 commented on #207
../pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:43:5: cannot use user.ID (type *int64) as type *int in field value
../pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:73:11: cannot use repo.ID (type *int64) as type *int in field value
../pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:105:73: cannot use

[2020-09-06 10:40] ajaykulal opened #210 "how to provide multiple github access tokens to avoid rate limits?"
how to provide multiple github access tokens to avoid rate limits?

[2020-09-07 06:01] sofily-security opened #211 "Unable to Instal Gitrob | router.go:41:54: too few values in assetfs.AssetFS literal"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2020-09-08 13:00] 0xsunil commented on #211
I am also facing the same issue.

My OS is Ubuntu 18.04.4 LTS and I am using go version go1.13.3 linux/amd64.

I can confirm the above reported issue as upon installing using command: `go get github.com/michenriksen/gitrob`, I am getting the same error:
[code]

[2020-09-11 08:28] preethamarun00 commented on #211
Solving of problem just reinstall os and upgrade by using ubuntu server
only ..

On Tue, 8 Sep, 2020, 18:31 0xsunil, <notifications@github.com> wrote:

[2020-09-12 00:40] sidahmed-malaoui commented on #211
I'm facing the same problem while installing.

Go version: `go version go1.15.2 linux/amd64`

[2020-09-12 02:54] mattyjones commented on #211
The simple fix, it simply pin the [package](https://github.com/N0MoreSecr3ts/wraith/blob/master/go.mod#L6) to 1.0.0 That is a fork of gitrob that is being rebuilt from almost the ground up to be more modular and feature rich. It is still rough around the edges and not ready for prime but it does fix all the issues laid out here as well as contain most of the feature requests and pr's.

That is all

[2020-09-14 18:23] Tcarters commented on #211
HI ,
Please i don't well understand your concept ... @mattyjones
Using your package above, i went to "go-bindata-assetfs" and using it imade  some changing  in the "router.go" file of gitrob repository but i still get the same error..

When run this :   go get github.com/michenriksen/gitrob
# github.com/michenriksen/gitrob/core
../../../go/src/github.com/michenriksen/gitrob/core/router.go:41:54: t

[2020-09-14 23:51] mattyjones commented on #211
@Tcarters If you want to use this repo:

1. Clone the repo `https://github.com/michenriksen/gitrob.git`
2.  `go mod init` to use go mod
3. `rm Gopkg*` remove the old stuff
4. `go build` to build it

This will get you past the assetFS issue. There are still a few other library games to play as well, I don't remember how I solved them atm, just play with versions and make sure if you change the vers

[2020-09-15 14:56] Tcarters commented on #207
So till now nobody solve this issue ???? Guys we need help for someone to resolve it ..

[2020-09-15 15:11] Tcarters commented on #129
@michenriksen  Plz come to give us a better solution this problem

github.com/michenriksen/gitrob/core
../../../go/pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:43:5: cannot use user.ID (type *int64) as type *int in field value
../../../go/pkg/mod/github.com/michenriksen/gitrob@v2.0.0-beta+incompatible/core/github.go:73:11: cannot use repo.ID (type *int64) as type

[2020-09-16 08:59] jagadeeshdevula commented on #100
Hi, mihir9455,

Just press ESC after then :wq!

That's it.

[2020-09-18 08:12] jagadeeshdevula commented on #125
Better to you both can follow this command.
Ex:-  gitrob analyze GitHub

[2020-09-18 18:46] preethamarun00 commented on #100
Check your internet: step 1
Step 2 : check that all software ra install by supporting to database and
connect to tomcat server and 8080

On Wed, 16 Sep, 2020, 14:30 jagadeeshdevula, <notifications@github.com>
wrote:

[2020-09-19 20:16] dhruv-kandpal commented on #129
/root/go/src/github.com/michenriksen/gitrob/core/router.go:41:54: too few values in assetfs.AssetFS literal
Same error! :(

[2020-09-20 05:06] nirajdhalani commented on #211
Helo bros go to "precompiled version is available" in gitrob repo and then go assets and find your os version download it its run fine
I solve my issue with this you can also try for that

[2020-09-22 05:48] preethamarun00 commented on #129
look  at your grub file or reinstall grub menu
 second nope is just check your cmd commands

[2020-09-25 15:49] yash2707 commented on #62
when i redo the whole process it shows "could not change directory to "/root": Permission denied"
What should I should do?

[2020-09-26 22:32] hasher313 commented on #207
$ sudo rm -rf ~/go/{src,pkg}
THEN
$go get -u -v github.com/michenriksen/gitrob

[2020-10-05 03:57] Ibrahem4 commented on #211
you can download binary and unzip it and mv gitrob $GOPATH/bin
TO TEST IT WOTK WRITE gitrob
No GitHub access token given. Please provide via command line option or in the GITROB_ACCESS_TOKEN environment variable
and you should config .bashrc  to add
export GITROB_ACCESS_TOKEN="your_token " and fun

[2020-10-05 04:45] preethamarun00 commented on #211
Hello,if you touch os software as per your thinking after 1year may get
problem with Linux kernel

On Mon, 5 Oct, 2020, 09:27 Mr-Viurs, <notifications@github.com> wrote:

[2020-10-05 04:47] preethamarun00 commented on #62
Check with commonds  that chmod+777 or get wr-rw-ro

On Fri, 25 Sep, 2020, 21:19 yash2707, <notifications@github.com> wrote:

[2020-10-29 18:35] secuhiro opened #213 "Unable to configure"
According to https://gist.github.com/som3guy/243a31799befcf36a547
I installed and configured.
I was able to install but unable to configure.

Please see the detail on attached image and advice.
Thank you in advance.
![2020-10-30_03h34_35](https://user-images.githubusercontent.com/73603024/97617313-f389a980-1a60-11eb-8793-20442f363dbb.png)

[2020-11-10 06:08] udaygoudkandyanam commented on #123
What's the resolution here? can you please let us know

[2020-11-10 07:27] udaygoudkandyanam opened #214 "Hi, after entering the personal access token it doesn’t happen anything.. can you please help me with that"
That's the last step where I am struck

How do I resolve it

[2020-11-10 14:05] udaygoudkandyanam commented on #213
This is the same issue I am facing, can you help us out please ?

[2020-11-12 01:29] udaygoudkandyanam commented on #214
Any inputs here? Please

[2020-11-15 07:22] sA74n opened #215 "hii, i would like to know if there is any option which allows me to specify some people's repo manually, so that gitrob can scan for that repo also"
Hey there and thank you for using the issue tracker!

## Checklist before filing an issue:

- [ ] Is this something you can **debug and fix**? Send a pull request! Bug fixes and documentation fixes are welcome.
- [ ] Have a usage question? Ask your question on [StackOverflow](http://stackoverflow.com), [StackExchange Security](https://security.stackexchange.com) or similar platform.
- [ ] Have an

[2020-11-24 09:48] karmickei commented on #211
IS THIS TOOL INTENTIONAL BROKEN! ??? why this error still exist and what is the fix? :(

[2020-11-30 13:13] preethamarun00 commented on #211
Hii,Just reinstalled os and TOOL INTENTIONAL Broken! In terminal method to install... That be better to get it... -------- Original message --------From: karmickei <notifications@github.com>Date: Tue, 24 Nov, 2020, 15:19To: michenriksen/gitrob <gitrob@noreply.github.com>Cc: preethamarun <preethamarun2210@gmail.com>, Mention <mention@noreply.github.com>Subject: Re: [michenriksen/gitrob] Unable to I

[2020-12-05 23:48] nadavoosh commented on #1
This information seems to have disappeared from the readme.

[2020-12-12 10:44] AirSmasher opened #216 "Error cloning repository"
Hey there and thank you for using the issue tracker!
gitrob worked with me many times but suddenly I'm facing this error and I don't know why.

gitrob v2.0.0-beta started at 2020-12-12T05:42:40-05:00
Loaded 91 signatures
Web interface available at http://127.0.0.1:9393
Gathering targets...
 Retrieved 11 repositories from Target1
 Retrieved 23 repositories from Target2
 Retrieved 120 repositories f

[2020-12-13 21:46] Mrkenvin1982 opened #217 "a"

[2020-12-16 17:35] synacktester927 commented on #216
I was able to get gitrob working after building it myself. I got that error with the latest compiled release. With the simple go get insallation I ran into [this issue](https://github.com/michenriksen/gitrob/issues/211), but was able to build it following [those steps.](https://github.com/michenriksen/gitrob/issues/211#issuecomment-692377817)

[2020-12-16 19:30] AirSmasher commented on #216
Thanks , but I couldn't  make those steps it gives me this error with the second step

go: cannot determine module path for source directory /home/kali (outside GOPATH, module path must be specified)

Example usage:
        'go mod init example.com/m' to initialize a v0 or v1 module
        'go mod init example.com/m/v2' to initialize a v2 module

Run 'go help mod init' for more information.

[2021-01-05 12:31] 0xDivyanshu commented on #216
Use
``go
go mod init github.com/michenriksen/gitrob
[code]

[2021-01-11 13:09] cyberwr3nch commented on #204
and here I am with the same error
[code]

[2021-01-18 12:22] iamthefrogy commented on #211
That worked for me. Thanks

[2021-01-19 09:55] preethamarun00 commented on #211
Awesome, thanks!

On Mon, Jan 18, 2021 at 5:52 PM Chintan Gurjar <notifications@github.com>
wrote: